{% extends 'clas199/page.html' %}
{% block content %}

<div class="row justify-content-center">

  <div class="col-8">

    <p>Daniel Libatique<br>CLAS 199 01 - Intro to Greco-Roman Gender and Sexuality<br>Final Essay<br>Fall 2020 </p>
    <p class="text-center"><strong>Corporeal Inviolability in Ancient and Modern Militaries</strong></p>
    <p>… Walters asserts that “the Roman soldier, symbol of all that is manly in Roman society, is dangerously like the slave, that ever-present, unmanly inferior and outsider” (1997, 40). …</p>
    <p>… Palinurus, a slave, explains which identities are sexually off-limits for viri in Roman society: “So long as you stay away from brides, widows, unmarried women, (male) youths and free boys, love whom you like” (Plautus <em>Curculio</em> 31-38). …</p>
    <p>… Roman sexuality was based on a zero-sum game of penetration: “Roman assumptions about masculine identity rested … on a binary opposition: men, the penetrators, as opposed to everyone else, the penetrated. The penetrated other included women, boys, and slaves; adult Roman men who displayed a desire to be penetrated were consequently labeled deviants and anomalies” (Williams 1999, 7). …</p>
    <p>… Catullus casts aspersions on Mamurra’s masculinity because of his lack of self-control: “Who can look at this, who is able to suffer it, / unless he is unchaste and voracious and a gambler? / Mamurra has what Gallic Comata used to have, / and has what farthest Britain had” (Catullus 29). …</p>
    <h2 id="works-cited">Works Cited</h2>
    <p>Catullus 29 (p. 266 in Ormand).</p>
    <p>Plautus <em>Curculio</em> 31-38 (p. 188 in Ormand).</p>
    <p>Walters, Jonathan. 1997. “Invading the Roman Body: Manliness and Impenetrability in Roman Thought.” In <em>Roman Sexualities</em>, edited by Judith P. Hallett and Marilyn B. Skinner, 29-43. Princeton.</p>
    <p>Williams, Craig. 1999. <em>Roman Homosexuality: Ideologies of Masculinity in Classical Antiquity</em>. New York and Oxford.</p>

  </div>

</div>

{% endblock %}