{% extends 'clas199/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#grading-contract">Grading Contract</a>
        <a class="nav-link" href="#quizzes">Quizzes</a>
        <a class="nav-link" href="#responses">Responses</a>
        <a class="nav-link" href="#midterm-and-final">Midterm and Final</a>
        <a class="nav-link" href="#midtermfinal-alternative-essay">Midterm/Final Alternative: Essay</a>
        <a class="nav-link" href="#creative-projects">Creative Projects</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grading Section
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#grading-contract">Grading Contract</a>
            <a class="dropdown-item" href="#quizzes">Quizzes</a>
            <a class="dropdown-item" href="#responses">Responses</a>
            <a class="dropdown-item" href="#midterm-and-final">Midterm and Final</a>
            <a class="dropdown-item" href="#midtermfinal-alternative-essay">Midterm/Final Alternative: Essay</a>
            <a class="dropdown-item" href="#creative-projects">Creative Projects</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>

  <div class="col-8 border-left px-5">
    {% endif %}
    <h4 id="grading-contract">Grading Contract</h4>
    <p>Grading and assessments in this course will be unorthodox. We will be following a form of <strong>specification grading</strong>, in which all assignments and assessments (including quizzes) are graded on a <strong>satisfactory or unsatisfactory</strong> basis (except for the midterm and final, on which see below). Each assignment and assessment will have an explicit set of guidelines and criteria for what will be considered “satisfactory.” Your semester grade, then, will be based on the number and type of satisfactory assignments and assessments completed. In other words, <strong>you will be in control of your semester grade</strong> — you decide the grade that you want and commit as much time and energy towards that grade as you desire.</p>

    <p>The following is a rubric for semester-end grades in the course.</p>

    <table class='table'>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><strong>D</strong></th>
          <th><strong>D+</strong></th>
          <th><strong>C-</strong></th>
          <th><strong>B-</strong></th>
          <th><strong>A-</strong></th>
          <th><strong>A</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="row-start text-right"><strong>Quizzes</strong> (max 120)</td>
          <td>20</td>
          <td>40</td>
          <td>60</td>
          <td>80</td>
          <td>100</td>
          <td>115</td>
        </tr>
        <tr>
          <td class="row-start text-right"><strong>Responses</strong></td>
          <td>2</td>
          <td>4</td>
          <td>6</td>
          <td>8</td>
          <td>10</td>
          <td>12</td>
        </tr>
        <tr>
          <td class="row-start text-right"><strong>Creative Projects</strong></td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>
        <tr>
          <td class="row-start text-right"><strong>Midterm and Final*</strong> (max 200)</td>
          <td>120</td>
          <td>130</td>
          <td>150</td>
          <td>160</td>
          <td>170</td>
          <td>180</td>
        </tr>
      </tbody>
    </table>

    <p>To achieve a certain grade level, you must complete the listed number of satisfactory assignments or requirements from each of four different categories. For example, if you want a B- for the semester, you must complete 8 responses to secondary readings and 2 creative projects, and you must have earned at least 80 points over all 12 quizzes and 160 points over the midterm and the final (see details below). When you have completed the minimum number of satisfactory assignments for the final grade that you want, you do not need to submit further examples of that assignment type.</p>
    <p>Once you have reached either the <strong>C-</strong> or <strong>B-</strong> range, you can improve within that letter range (e.g., from a B- to a B or a B+) by meeting the criteria in the next grade level in any one or two of the following categories: quizzes, responses, or creative projects. The completion of one improves your semester grade from a minus to the regular letter; the completion of two improves your semester grade from the regular letter to a plus; the completion of all three moves you to the next letter range if your midterm/final grades allow it. For example, a student in the B- range can move to a B by earning 20 more points on quizzes. The student can then improve to a B+ by completing another creative project in addition to earning the quiz points. If the student then completes two more responses AND scores at least 170 points over the midterm and the final, then the student earns an A- for the semester!</p>

    <p>* The midterm and final are the only elements of the grading contract that I will grade subjectively; see the specific details below under <a href="#midterm-and-final">Midterm and Final Guidelines</a>.</p>

    <p>It is possible to make up unsatisfactory assignments or assessments. At the beginning of the semester, each student will be allotted <strong>three (3) tokens</strong>. One token can be used to make up an unsatisfactory response or to retake a quiz, and three tokens are required for another attempt at an unsatisfactory creative project. You are able to make up lost points on the midterm exam or essay; see the appropriate section below. You are not able to revise the final exam or essay.</p>

    <p>No late assignments will be accepted without documented permission. I strongly encourage you to be proactive in reaching out to me if you anticipate not being able to make a deadline; it is far preferable to set up a later due date than to ask for an extension after the fact!</p>

    <hr>

    <h4 id="quizzes">Quizzes</h4>
    <p>Throughout the semester, there will be <strong>twelve (12) quizzes, each worth 10 points</strong>, designed to test each week&#39;s material. Each quiz will be open-note and open-resource and available as a Google Form that will be linked through the <a href="{% url 'clas199:schedule' %}">course schedule</a>. The format for each quiz can be any combination of the following formats: provide definitions of or connections between terms, multiple choice, fill-in answers, or matching (e.g., authors to names of works, events and dates, etc.). <strong>All quiz-able material will be drawn from the underlined terms on the slideshows</strong>. The link to each quiz will be live from the Thursday night through Tuesday morning after a given week of classes; see the <a href="{% url 'clas199:schedule' %}">course schedule</a> for details of when each quiz is live and what material each quiz will cover.</p>

    <p>Twelve quizzes at 10 points each comes out to a possible maximum of <strong>120 points</strong> throughout the semester. Each quiz grade that you receive will be added into a running tally for the semester, and the final sum will correspond to a semester grade as explained in the rubric above.</p>

    <p>I purposefully write the slideshow terms without much detail, and the definitions and explanations that I will provide in class cannot be found through Google searches or the like. It behooves you to take good notes, study constantly, and contact me with any questions about terms as they arise. Make sure to have a buddy in class from whom you can get notes if you are absent on a given day or to set aside time to watch the recorded class session.</p>


    <hr>

    <h4 id="responses">Responses</h4>
    <p>This requirement asks you to respond to secondary articles, chapters, or podcasts that treat ancient gender and sexuality. Articles or chapters to which you can respond are designated with an asterisk in the <a href="{% url 'clas199:schedule' %}">course schedule</a>. You are encouraged to write responses to articles, chapters, or podcasts that deal with a topic in which you are interested for any given week! So, for example, in Week 4, we will discuss symposium culture and lyric poetry, and one element of the conversation will be the Greek poetess Sappho. If you&#39;re particularly interested in her, you should write a response to Ella Haselswerdt&#39;s <em>Eidolon</em> piece, &quot;Re-Queering Sappho.&quot;</p>

    <p>You may submit up to <strong>one (1) response per week</strong>, defined as the period from one Saturday at 12am to the next Friday at 11:59pm (except for the last, which will be due on the final day of class). To make this clearer, response submission deadlines are listed for each week of the semester in the <a href="schedule">course schedule</a>. If you miss a response deadline, you will not have the opportunity to make it up later unless you use a token, so please plan accordingly and be proactive in informing me if you think you&#39;ll miss a deadline.</p>

    <p>Your response should be written in one of three formats: <strong>3-2-1</strong>, <strong>argument analysis</strong>, or <strong>personal reflection</strong>. All three formats should be <strong>1-2pp. double-spaced</strong>. If you go beyond 2 pp., that’s fine too; 1-2pp. is just a general guideline. <strong>The response will be graded “satisfactory” if it answers each prompt or question under the appropriate heading below.</strong></p>

    <p>Every response should include in the header <strong>the type of response</strong> (3-2-1, argument analysis, or personal reflection) <strong>and the author and title of the article or chapter or the podcast name and episode number/name of the podcast to which you are responding</strong>. Feel free to copy and paste the author/title or podcast and episode name from the <a href="{% url 'clas199:schedule' %}">course schedule</a>.</p>

    <hr>

    <h5 id="3-2-1">3-2-1</h5>
    <ul>
      <li>Write down <strong>three (3)</strong> things that you learned.</li>
      <li>Write down <strong>two (2)</strong> things that you found interesting and want to learn more about.</li>
      <li>Write down <strong>one (1)</strong> thing that was unclear or one question that you still have about the material.</li>
    </ul>

    <p>A 3-2-1 does not need to be written in paragraph form; you can use bullet points or numbered lists.</p>

    <hr>

    <h5 id="argument-analysis">Argument Analysis</h5>
    <p>Answer the following questions:</p>
    <ul>
      <li>What is the author’s main argument?</li>
      <li>How do they make that argument? What evidence do they provide?</li>
      <li>Do you agree or disagree? Or, put differently, does the author make their case persuasively?</li>
    </ul>

    <hr>

    <h5 id="personal-reflection">Personal Reflection</h5>
    <p>If the article speaks to you on a personal level (in terms of lived experience, personality traits, gender or sexual orientation, political affiliation, etc.), what resonates with you? How can you connect the topics or ideas in the article to events, relationships, or beliefs in your own life? (Disclaimer: see <a href="{% url 'clas199:policies' %}#mandated-reporter">“Mandated Reporter” section of Policies</a>.)</p>

    <hr>

    <p>All responses should be submitted via the <a href="#" id="unfilled">upload portal</a>.</p>

    <hr>

    <h4 id="midterm-and-final">Midterm and Final</h4>
    <p>There will be <strong>two (2) open-note, open-resource exams</strong> in this course, a midterm that will cover all the Greek topics in the course and a final that will cover all the Roman topics in the course (i.e., the final will not be cumulative). Each will be graded out of <strong>100 points</strong> and formatted like larger quizzes (e.g., define terms, multiple choice, and matching sections) with some modifications (e.g., fill in the blanks with a word bank) and additions (e.g., short answers). The short answers may ask you to compare two passages that we’ve read during the semester, to describe social institutions like marriage or pederasty, etc. The maximum possible total for the semester, then, is <strong>200 points</strong>, and like the quizzes, your midterm and final grades will be tallied and factored into your semester grade according to the rubric above.</p>

    <p>On the midterm exam, if you score less than 100, you are able to make up <strong>up to half of the lost points</strong> by completing a revision of your incorrect answers. I will set individualized revision guidelines for each student who decides to complete one. You will not be able to complete revisions or make up lost points on the final exam.</p>

    <p>The midterm will be administered via Google Form and it will be due by ???. The midterm revisions will be due a week and a half later, on ???.</p>

    <p>The final will be administered via Google Form and it will be due by ???.</p>


    <hr>

    <h4 id="midtermfinal-alternative-essay">Midterm/Final Alternative: Essay</h4>

    <p><strong>PLEASE NOTE</strong>: If you know that you&#39;re a stronger essay writer than exam taker, you have the option of replacing one or both of the exams with an essay. If you choose this option, you will be required to make and substantiate an argument about gender and sexuality in the ancient world in a <strong>5-6 pp. essay</strong>. To be clear, 5-6 pages is not a lot of space; the challenge of this essay is making a persuasive argument using proper primary and scholarly secondary evidence in a small amount of space. Sample prompts include:</p>

    <ul>
      <li>Can we equate the ancient <em>cinaedus</em> with the modern notion of a gay man? Why or why not?</li>
      <li>Was love and affection a primary concern in ancient Greek marriage?</li>
      <li>Did Greek women or Roman women possess more social power in their respective cultures?</li>
    </ul>

    <p><a href="{% url 'clas199:essay' %}">Guidelines for writing an essay can be found here</a>.</p>

    <p>You will be required to draw on at least two primary sources and two secondary sources to write your essay. Please keep in mind that finding sources may be difficult if you are not on campus, so if you elect to write an essay rather than take the exam, please consult with me one-on-one so that we can ensure that you have access to all the sources and materials that you could need.</p>

    <p>Essays will be assigned a numerical grade and factored into the semester grade in the same way as exams. As for the midterm exam, if you score less than 100 on a midterm essay, you will be able to make up <strong>up to half of the lost points</strong> if you complete a revision of your essay according to my corrections, questions, and suggestions. You will not be able to revise a final essay.</p>

    <p><strong>You must opt into writing an essay; otherwise, I will assume that you&#39;re taking the exam.</strong> Once you notify me that you&#39;d like to write an essay, I will provide further guidelines.</p>

    <ul>
      <li>If you&#39;d like to write a midterm essay, you must notify me <strong>by ???</strong>, and it will be due <strong>by 11:59pm on ???</strong>.</li>
      <li>If you want to complete a revision of a midterm essay, it will be due <strong>by 11:59pm on ???</strong>.</li>
      <li>If you&#39;d like to write a final essay, you must notify me <strong>by ???</strong>, and it will be due <strong>by 11:59pm on ???</strong>.</li>
    </ul>


    <hr>

    <h4 id="creative-projects">Creative Projects</h4>
    <p><a href="creative-projects">Creative Project Prompts</a></p>

    <p>I will designate a number of possible projects for you to complete that will draw on your creativity. The tasks range from writing poetry to creating artwork, recording a podcast to recording a video, analyzing an object to making a pitch to a journal to creating a playlist. If you would like to complete a creative project that isn’t listed in the possibilities <a href="{% url 'clas199:creative_projects' %}">here</a>, you are more than welcome to pitch your idea for a creative project to me via e-mail or in office hours.</p>

    <p><strong>You are allowed to submit only one (1) of each type of creative project.</strong> That means that you can, for example, submit a poem, an artwork, a selfie and object analysis, and a meme/Tiktok compilation as your four creative projects if you are aiming for a semester grade of A. You cannot submit, for example, four poems, or two poems and two artworks.</p>

    <p>All text-based creative projects should be submitted via the <a href="#" id="unfilled">upload portal</a>.</p>

    <p>The guidelines for submission of all media-based creative projects are listed under the appropriate headings.</p>

    <p>You may submit up to <strong>four (4) creative projects</strong> according to the following suggested deadlines:</p>

    <ul>
      <li>Creative Project #1: ??? </li>
      <li>Creative Project #2: ??? </li>
      <li>Creative Project #3: ??? </li>
      <li>Creative Project #4: ??? </li>
    </ul>

    <p>The only hard deadline is that all creative projects must be submitted <strong>by 11:59pm on ???</strong>.</p>
    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}
{% endblock %}