{% extends 'clas199/base.html' %}
{% block body_block %}


<div class="container bg-light p-4">

  <h1 class="text-center">{{ page_title|upper }}</h1>

  <hr>

  <h2 class="text-center">Primary Textbook</h2>
  <ul>
    <li>Ormand, Kirk. 2018. <a href="https://www.amazon.com/dp/1477311459/ref=cm_sw_em_r_mt_dp_U_efM.Db423NXT8"><em>Controlling Desires: Sexuality in Ancient Greece and Rome, Revised Edition.</em></a> University of Texas Press. ISBN-13: 978-1477311455; ISBN-10: 1477311459.</li>
  </ul>

  <hr>

  <h2 class="text-center">Other Important Books</h2>
  <ul>
    <li>Robson, James. 2013. <em>Sex and Sexuality in Classical Athens</em>. Edinburgh.</li>
    <li>Skinner, Marilyn. 2013. <a href="https://ebookcentral.proquest.com/lib/holycrosscollege-ebooks/detail.action?docID=1295022"><em>Sexuality in Greek and Roman Culture</em></a>. Hoboken.</li>
    <li>Williams, Craig. 1999. <a href="https://holycross.idm.oclc.org/login?auth=cas&url=http://hdl.handle.net/2027/heb.01472"><em>Roman Homosexuality.</em></a> Oxford and New York.</li>
  </ul>

  <p>The cost of books should never be a deterrent to participation in a class that you want to take. If you have trouble affording our course textbook, please let me know, and I will work to get you an affordable copy through the resources of the College.</p>

  <hr>

  <h2 class="text-center">Electronic Resources</h2>

  <dl class="row">
    <dt class="col-sm-3 text-right"><a href="#">LibGuide</a></dt>
    <dd class="col-sm-9">Our awesome Classics librarian, Mrs. Jennifer Whelan MLIS, has put together a page of resources to help us navigate the various types of sources and information that we’ll be dealing with in this course. Check it out!</dd>

    <dt class="col-sm-3 text-right"><a href="https://alisoninnes.files.wordpress.com/2017/10/cornell-notes-quick-dirty-guide.pdf">Cornell Notes</a></dt>
    <dd class="col-sm-9">A note-taking method suggested by <a href="https://twitter.com/alisoninnes">Alison Innes</a> that may help you organize your notes and thoughts throughout lecture more easily.
    </dd>

    <dt class="col-sm-3 text-right"><a href="https://eidolon.pub">Eidolon</a></dt>
    <dd class="col-sm-9">“Classics without Fragility.” An online journal with modern takes on Classical texts and society.</dd>

    <dt class="col-sm-3 text-right"><a href="https://thesportula.wordpress.com/">The Sportula</a></dt>
    <dd class="col-sm-9">Microgrants for Classics undergrads. If you’re struggling money-wise and need help for anything relating to your studies (buying books, paying for food, studying abroad, etc.), the Sportula can help.</dd>

    <dt class="col-sm-3 text-right"><a href="https://diotima-doctafemina.org/">Diotima</a></dt>
    <dd class="col-sm-9">Resources for studying women in the ancient world.</dd>


</dl>

  </div>


{% endblock %}
