{% extends 'latn399/base.html' %}
{% block body_block %}

<div class="bg-light">

  <h1 class="text-center pt-2">{{ department }} {{ course_number }}<br>{{ course_title }}</h1>

  <hr>

  <div class="pb-4 d-flex justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2-1Thy7YpvI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr>

  <h3 class="text-center text-uppercase pb-2">Next deadlines</h3>

  {% if not x %}
  <dl class="mb-0 row">
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Tuesday, 10/20{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">
      {% endif %}
      <ul>
        <li>Submit <a href="https://docs.google.com/document/d/1dylzLD3IrYoDzxaXV7JOIu6p74MWNu07W9IQIvpW0O0/edit?usp=sharing">Elegy Fact Sheet</a></li>
        <li>Translate <a href="{% url 'latn399:schedule' %}#10-20-20">Tibullus 1.1.1-6; 1.2.1-16; 1.10.1-14, 65-68</a> (make liber entry)</li>
      </ul>
      {% if not x %}
    </dd>
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Thursday, 10/22{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">
      {% endif %}
      <ul>
        <li>Translate <a href="{% url 'latn399:schedule' %}#10-22-20">Sulpicia 1-6</a> (make liber entry)</li>
        <li>Read <a href="https://drive.google.com/file/d/15PEBB3wg20g2IUUu_sSPfendjyFjLspm/view?usp=sharing">Keith 2006</a> (make liber entry)</li>
      </ul>
      {% if not x %}
    </dd>
  </dl>
  {% endif %}

  <p class="pb-2 text-center font-italic">(<a href="{% url 'latn399:schedule' %}">click for full schedule</a>)</p>

</div>

{% if not x %}
<div class="row">

  <div class="col-sm-6 border-right text-right">
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Info</h2>
    <ul class="list-unstyled">
      <li><strong>Meeting Time</strong>: TR 9:45-11am Eastern</li>
      <li><strong>Meeting Place</strong>: Zoom (see email)</li>
      <li><strong>Instructor</strong>: Prof. Daniel Libatique (he/him/his)</li>
      <li><strong>Office</strong>: Fenwick 410</li>
      <li><strong>Student Hours</strong>: M 10:30-11:30am, T 3-4pm</li>
      <li><strong>Email</strong>: DLibatiq [at] holycross.edu</li>
      <li><strong>Website</strong>: <a href="https://libatique.info">Click here</a>.</li>
    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-6 pr-5">
    {% else %}
    <hr>
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Description</h2>
    <p>This course examines the construction of gender and sexuality through Roman literature and archaeology. We will aim both to understand the Romans' conceptualization of concepts like love, masculinity, femininity, homoeroticism, courtship, and marriage, among others, and to use those investigations to understand our own in the modern day.</p>

    {% if not x %}
  </div>

</div>
{% endif %}
<hr>



{% if not x %}
<div class="row">

  <div class="col-sm-2">
    <p></p>
  </div>
  <div class="col-sm-8">

    {% endif %}

    <h2 {% if not x %}class="text-center" {% endif %}>Course Objectives</h2>
    <ul>
      <li>to define and demarcate the boundaries of “sex,” “gender,” and “sexuality”</li>
      <li>to articulate how the Romans defined, performed, and policed gender and sexuality</li>
      <li>to compare Roman constructions of gender and sexuality with our own modern notions</li>
      <li>to develop Latin (sight) reading skills across various genres and time periods</li>
      <li>to become proficient at identifying scholarly arguments and evaluating the stages and evidence of argumentation</li>

    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-2">
    <p></p>
  </div>
</div>
{% endif %}
{% endblock %}