{% extends 'latn399/base.html' %}
{% block body_block %}

<div class="bg-light">

  <h1 class="text-center pt-2">{{ department }} {{ course_number }}<br>{{ course_title }}</h1>

  <hr>

  <h3 class="text-center text-uppercase pb-2">Next deadlines</h3>

  {% if not x %}
  <dl class="mb-0 row">
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Tuesday, 12/1{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">
      {% endif %}
      <ul>
        <li>Submit: <a href="https://docs.google.com/document/d/1gg0qvta8DYKH1TC_JHlWTGEtgy0ttJbFDerkkCtYbnw/edit?usp=sharing">Tacitus Fact Sheet</a></li>
        <li>Read (in translation): <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Tacitus/Annals/14B*.html">Tacitus <em>Annals</em> 14.31-37</a>.
        <li>Translate: <a href="{% url 'latn399:schedule' %}#12-01-20">Tacitus <em>Annals</em> 14.31</a> (make liber entry)</li>
      </ul>
      {% if not x %}
    </dd>
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Thursday, 12/3{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">
      {% endif %}
      <ul>
        <li>Translate <a href="{% url 'latn399:schedule' %}#12-03-20">Tacitus <em>Annals</em> 14.35, part of 37 (from <em>et miles ne mulierum quidem neci temperabat</em> to <em>Boudicca vitam veneno finivit</em>)</a> (make liber entry)</li>
        <li>Read <a href="https://drive.google.com/file/d/1MkV3_E61lMpshw9AsxYpLCVbYME5Ab3k/view?usp=sharing">Gillespie 2018</a> (make liber entry)</li>
      </ul>
      {% if not x %}
    </dd>
  </dl>
  {% endif %}

  <p class="pb-2 text-center font-italic">(<a href="{% url 'latn399:schedule' %}">click for full schedule</a>)</p>

</div>

{% if not x %}
<div class="row">

  <div class="col-sm-6 border-right text-right">
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Info</h2>
    <ul class="list-unstyled">
      <li><strong>Meeting Time</strong>: TR 9:45-11am Eastern</li>
      <li><strong>Meeting Place</strong>: Zoom (see email)</li>
      <li><strong>Instructor</strong>: Prof. Daniel Libatique (he/him/his)</li>
      <li><strong>Office</strong>: Fenwick 410</li>
      <li><strong>Student Hours</strong>: M 10:30-11:30am, T 3-4pm</li>
      <li><strong>Email</strong>: DLibatiq [at] holycross.edu</li>
      <li><strong>Website</strong>: <a href="https://libatique.info">Click here</a>.</li>
    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-6 pr-5">
    {% else %}
    <hr>
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Description</h2>
    <p>This course examines the construction of gender and sexuality through Roman literature and archaeology. We will aim both to understand the Romans' conceptualization of concepts like love, masculinity, femininity, homoeroticism, courtship, and marriage, among others, and to use those investigations to understand our own in the modern day.</p>

    {% if not x %}
  </div>

</div>
{% endif %}
<hr>



{% if not x %}
<div class="row">

  <div class="col-sm-2">
    <p></p>
  </div>
  <div class="col-sm-8">

    {% endif %}

    <h2 {% if not x %}class="text-center" {% endif %}>Course Objectives</h2>
    <ul>
      <li>to define and demarcate the boundaries of “sex,” “gender,” and “sexuality”</li>
      <li>to articulate how the Romans defined, performed, and policed gender and sexuality</li>
      <li>to compare Roman constructions of gender and sexuality with our own modern notions</li>
      <li>to develop Latin (sight) reading skills across various genres and time periods</li>
      <li>to become proficient at identifying scholarly arguments and evaluating the stages and evidence of argumentation</li>

    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-2">
    <p></p>
  </div>
</div>
{% endif %}
{% endblock %}