{% extends 'clas199/page.html' %}
{% block content %}

<h2 class="text-center" id="dates-and-general-guidelines">Dates and General Guidelines</h2>
<p>To write a midterm or final essay for this class instead of taking the midterm or final exam, you must have opted in by <strong>???</strong> or <strong>???</strong> respectively.</p>
<p>The due date and time of the <strong>midterm essay</strong> is <strong>???</strong> at <strong>???.</strong><br>The due date and time of the <strong>final essay</strong> will be due by the end of the final exam for the class, at a date and time to be set by the registrar.</p>
<p>For this essay, you are required to make and substantiate an argument about gender and sexuality in the ancient world in a <strong>5-6 pp. essay</strong>. To be clear, 5-6 pages is not a lot of space; the challenge of this essay is making a <strong>persuasive argument</strong> using proper primary and scholarly secondary evidence in a small amount of space. Sample prompts include:</p>
<ul>
<li>Can we equate the ancient <em>cinaedus</em> with the modern notion of a gay man? Why or why not?</li>
<li>Was love and affection a primary concern in ancient Greek marriage?</li>
<li>Did Greek women or Roman women possess more social power in their respective cultures?</li>
</ul>

<hr>

<h2 class="text-center" id="points-and-advice">Points and Advice</h2>

<dl class="row">

  <dt class="col-sm-3 text-right">Thesis</dt>
  <dd class="col-sm-9">I will follow up with each of you individually to work with you towards an actionable thesis statement.</dd>

  <dt class="col-sm-3 text-right">Thesis Specificity</dt>
  <dd class="col-sm-9">Remember that the essay is 5-6pp. double spaced. That is actually not a lot of space. As such, your thesis should be focused enough to fit within the space allotted. I’d recommend trying to hone in on a specific question or comparison: for example, rather than “masculinity in ancient and modern militaries,” a more manageable topic might be “bodily inviolability in ancient and modern militaries”.</dd>

  <dt class="col-sm-3 text-right">Sources</dt>
  <dd class="col-sm-9"><p>You are required to use <strong>2 primary</strong> and <strong>2 secondary sources</strong>. A <strong>primary source</strong> is a translation of the actual words of Greek or Roman authors (unless you know Latin or Ancient Greek, in which case cite the original!). A <strong>secondary source</strong> is a scholarly article, book chapter, or book OR an online source that showcases academic rigor, like articles from <em>Eidolon</em> or Sharon James’ Humanities Futures piece from Roman Comedy week (e.g., not Wikipedia, etc.).</p>
  <p>The analyses in Ormand can count as one secondary source (obviously, the primary sources that he cites are fair game to use as your primary sources).</p>
  <p>News articles about current events may be used if it discusses your topic, but be wary about which news sources are reputable and which are not. Secondary sources need not be focused on ancient material, especially if you will be comparing ancient concepts against modern ones.</p>
  <p>If you are unsure whether a secondary source is acceptable, please ask!</p></dd>

  <dt class="col-sm-3 text-right">Resources</dt>
  <dd class="col-sm-9">I’m very happy to work with all of you on finding sources and refining arguments, but a quick reminder that another excellent resource is <strong>Jennifer Whelan</strong>, our Classics librarian in Dinand. You can contact her at jwhelan [at] holycross.edu and make a personal research appointment with her at <a href="https://holycross.libcal.com/appointment/6749">this link</a>. She’s been apprised of the requirements of the essay and will be a great resource if you’re looking for sources or trying to refine a thesis. Her familiarity with areas related to Classics like history and religion make her an even better resource than me if your topic encompasses more than just the ancient world!</dd>

  <dt class="col-sm-3 text-right">Grading Rubric</dt>
  <dd class="col-sm-9"><p>The grading rubric will take into account the following points:</p>
  <ol>
  <li>Essay title?</li>
  <li>Clear thesis statement?</li>
  <li>Use of 2 primary sources?</li>
  <li>Use of 2 secondary sources?</li>
  <li>Clear stages of argument / reflection?</li>
  <li>Works cited page with comprehensible entries?</li>
  </ol></dd>

  <dt class="col-sm-3 text-right">Citation Format</dt>
  <dd class="col-sm-9"><p>I am not requiring your citations to be in any specific format, as long as your citations are comprehensible and you are consistent throughout your paper. See <a href="{% url 'clas199:citations' %}">this link</a> for sample citations.</p>
  <p>For primary sources, the entry must include at least an author name (if known), the title of the work (if provided), and subsection identifiers (line numbers, poem numbers, paragraph or book numbers, etc.). Often, the parenthetical citation after primary sources in Ormand will suffice.</p>
  <p>For secondary sources, make sure to include as many details as are necessary to allow me to trace your steps. If your citation doesn’t have enough information to let me track down the quote or paraphrase in question, then it is not “comprehensible.”</p></dd>

  <dt class="col-sm-3 text-right">Drafts</dt>
  <dd class="col-sm-9"><p>I’m happy to read paper drafts, but I will have a strict cut off <strong>at 5pm on ???</strong> for midterm essays and a similar length of time before the final essay deadline: you may not submit a draft after that time. This is to ensure that I’ll have enough time to give useful feedback for final drafts before each essay&#39;s due date.</p></dd>

  <dt class="col-sm-3 text-right">Submission</dt>
  <dd class="col-sm-9"><p>Submit any non-final drafts to me via e-mail. Submit your final draft via the <a href="#">upload portal</a>.</p></dd>

</dl>

{% endblock %}
