{% extends 'clas199/base.html' %}
{% block body_block %}

<div class="bg-light">

  <h1 class="text-center pt-2">{{ department }} {{ course_number }}<br>{{ course_title }}</h1>

  <hr>

  <h3 class="text-center text-uppercase pb-2">Next deadlines</h3>

  {% if not x %}
  <dl class="mb-0 row">
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Tuesday, 12/1{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">{% endif %}
      <ul>
        <li>Complete <a href="https://hc.instructure.com/courses/1569/quizzes/2782">Quiz 11 (Catullus and the Elegists)</a></li>
        <li>Think about breakout room prompt for Week 13</li>
        <li>Read <a href="https://drive.google.com/file/d/18aN6K-iw8S3_IUDcjH5Ihb9j_Le21gcf/view?usp=sharing">Ovid <em>Ars Amatoria</em> 1.1-772</a></li>
        <li>Read <a href="https://www.poetryintranslation.com/PITBR/Latin/Metamorph6.php#anchor_Toc64106372">Ovid <em>Metamorphoses</em> 6.401-674</a></li>
        <li>Read <a href="https://eidolon.pub/bang-rome-2214f4a3d5c5">Zuckerberg 2015</a></li>
        <li>Read <a href="https://drive.google.com/file/d/15qJZWMiVofUSuEgwojA7cMfexAfI9exX/view?usp=sharing">Libatique 2020</a></li>
      </ul>
      {% if not x %}
    </dd>
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Friday, 11/13{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">{% endif %}
      <ul>
        <li>Submit <a href="https://hc.instructure.com/courses/1569/assignments/18400">Response #11</a></li>
        <li>Notify me via email if you'd like to write a final essay instead of taking a final exam</li>
      </ul>
      {% if not x %}
    </dd>
  </dl>
  {% endif %}

  <p class="pb-2 text-center font-italic">(<a href="{% url 'clas199:schedule' %}">click for full schedule</a>)</p>

</div>

{% if not x %}
<div class="row">

  <div class="col-sm-6 border-right text-right">
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Info</h2>
    <ul class="list-unstyled">
      <li><strong>Meeting Time</strong>: TR 1:15-2:30pm</li>
      <li><strong>Meeting Place</strong>: Zoom (see email)</li>
      <li><strong>Instructor</strong>: Prof. Daniel Libatique (he/him/his)</li>
      <li><strong>Office</strong>: Fenwick 410</li>
      <li><strong>Student Hours</strong>: T 11:15am-12:15pm, W 10:30-11:30am</li>
      <li><strong>Email</strong>: DLibatiq [at] holycross.edu</li>
      <li><strong>Website</strong>: <a href="https://libatique.info">Click here</a>.</li>
    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-6 pr-5">
    {% else %}
    <hr>
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Description</h2>
    <p>In this course, we will analyze and engage with ancient Greco-Roman works of literature and art to reconstruct how the Greeks and Romans conceptualized gender and sexuality. We will use these investigations as a way to analyze our own modern conceptions of gender and sexuality and understand how issues of legality and morality are necessarily renegotiated from culture to culture and time period to time period.</p>
    {% if not x %}
  </div>

</div>
{% endif %}
<hr>

{% if not x %}
<div class="row">

  <div class="col-sm-2">
    <p></p>
  </div>
  <div class="col-sm-8">

    {% endif %}
    <h2 class="text-center">Course Objectives</h2>
    <ul>
      <li>to define and demarcate the boundaries of “sex,” “gender,” and “sexuality”</li>
      <li>to articulate how the Greeks and the Romans defined, performed, and policed gender and sexuality</li>
      <li>to compare Greek constructions of gender and sexuality with Roman ones</li>
      <li>to compare ancient constructions of gender and sexuality with modern ones</li>
    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-2">
    <p></p>
  </div>
</div>
{% endif %}
{% endblock %}