{% extends 'clas199/base.html' %}
{% block body_block %}

<div class="bg-light">

  <h1 class="text-center pt-2">{{ department }} {{ course_number }}<br>{{ course_title }}</h1>

  <hr>

  <div class="pb-4 d-flex justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-hUGRmj8-Bo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <hr>

  <h3 class="text-center text-uppercase pb-2">Next deadlines</h3>

  {% if not x %}
  <dl class="mb-0 row">
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Tuesday, 11/10{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">{% endif %}
      <ul>
        <li>Complete <a href="https://hc.instructure.com/courses/1569/quizzes/2780">Quiz 9 (Roman Law and Cultural Relativity)</a></li>
        <li>Think about breakout room prompt for Week 11</li>
        <li>Read Ormand 202-223</li>
        <li>Read <a href="https://humanitiesfutures.org/papers/ancient-comedy-womens-lives-finding-social-history-seeing-present-classical-comedy/">James 2016</a></li>
        <li>Read <a href="https://drive.google.com/file/d/18qhvrGHxix7Hny89SRMnRPN36iZjImgj/view?usp=sharing">Packman 1993</a></li>
      </ul>
      {% if not x %}
    </dd>
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Thursday, 11/12{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">{% endif %}
      <ul>
        <li>Submit <a href="https://hc.instructure.com/courses/1569/assignments/18404">Creative Project #3</a></li>
      </ul>
      {% if not x %}
    </dd>
    <dt class="col-sm-5 text-right" {% else %}<h5 class="text-center" {% endif %}>Friday, 11/13{% if x %}</h5>{% else %}</dt>
    <dd class="col-sm-7">{% endif %}
      <ul>
        <li>Submit <a href="https://hc.instructure.com/courses/1569/assignments/18397">Response #9</a></li>
      </ul>
      {% if not x %}
    </dd>
  </dl>
  {% endif %}

  <p class="pb-2 text-center font-italic">(<a href="{% url 'clas199:schedule' %}">click for full schedule</a>)</p>

</div>

{% if not x %}
<div class="row">

  <div class="col-sm-6 border-right text-right">
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Info</h2>
    <ul class="list-unstyled">
      <li><strong>Meeting Time</strong>: TR 1:15-2:30pm</li>
      <li><strong>Meeting Place</strong>: Zoom (see email)</li>
      <li><strong>Instructor</strong>: Prof. Daniel Libatique (he/him/his)</li>
      <li><strong>Office</strong>: Fenwick 410</li>
      <li><strong>Student Hours</strong>: T 11:15am-12:15pm, W 10:30-11:30am</li>
      <li><strong>Email</strong>: DLibatiq [at] holycross.edu</li>
      <li><strong>Website</strong>: <a href="https://libatique.info">Click here</a>.</li>
    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-6 pr-5">
    {% else %}
    <hr>
    {% endif %}
    <h2 {% if x %}class="text-center" {% endif %}>Course Description</h2>
    <p>In this course, we will analyze and engage with ancient Greco-Roman works of literature and art to reconstruct how the Greeks and Romans conceptualized gender and sexuality. We will use these investigations as a way to analyze our own modern conceptions of gender and sexuality and understand how issues of legality and morality are necessarily renegotiated from culture to culture and time period to time period.</p>
    {% if not x %}
  </div>

</div>
{% endif %}
<hr>

{% if not x %}
<div class="row">

  <div class="col-sm-2">
    <p></p>
  </div>
  <div class="col-sm-8">

    {% endif %}
    <h2 class="text-center">Course Objectives</h2>
    <ul>
      <li>to define and demarcate the boundaries of “sex,” “gender,” and “sexuality”</li>
      <li>to articulate how the Greeks and the Romans defined, performed, and policed gender and sexuality</li>
      <li>to compare Greek constructions of gender and sexuality with Roman ones</li>
      <li>to compare ancient constructions of gender and sexuality with modern ones</li>
    </ul>

    {% if not x %}
  </div>
  <div class="col-sm-2">
    <p></p>
  </div>
</div>
{% endif %}
{% endblock %}