{% extends 'clas199/page.html' %}
{% block content %}

<div class="row">

  <div class="col-4">
    <div {%if request.user_agent.is_mobile %}class="" {% else %}class="sticky-top" {% endif %} style="top:65px;">
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#online-format-and-the-pandemic">Online Format and the Pandemic</a>
        <a class="nav-link" href="#zoom-suggestions">Zoom Suggestions</a>
        <a class="nav-link" href="#academic-conduct">Academic Conduct</a>
        <a class="nav-link" href="#student-hours">Student Hours</a>
        <a class="nav-link" href="#gender-expression-and-identity">Gender Expression and Identity</a>
        <a class="nav-link" href="#diversity-inclusion-and-respect">Diversity, Inclusion, and Respect</a>
        <a class="nav-link" href="#content-warnings">Content Warnings</a>
        <a class="nav-link" href="#accessibility">Accessibility</a>
        <a class="nav-link" href="#external-resources">Exernal Resources</a>
        <a class="nav-link" href="#mandated-reporter">Mandated Reporter</a>
      </nav>
    </div>
  </div>

  <div class="col-8 border-left px-5">

    <h4 id="online-format-and-the-pandemic">Online Format and the Pandemic</h4>
    <p>Due to the coronavirus pandemic, our plan for the semester will be to use an online format. We will meet synchronously via Zoom at our registrar-appointed meeting times (TR 1:15-2:30pm Eastern). If you anticipate any difficulties or obstacles in meeting at our prescribed times due to a time zone difference or other considerations like taking care of family or working a job, please contact me so that we can work out a plan!</p>

    <p>Needless to say, these are unprecedented times which call for extraordinary measures. My goal is to set up a distance learning environment that is supportive and safe as you navigate what’s happening in our world and deal with everything else that you have to deal with, in practical and emotional terms. Please don’t ever hesitate to email me, visit with me during student hours or non-preordained times via appointment, or leave a group or private message in the GroupMe with any questions, issues, or concerns that you have. We’re all figuring it out as we go; the best we can do is to be here for each other with compassion and patience. And maybe an occasional fuzzy animal picture or meme. Here’s a recent favorite of mine: the woman yelling at cat meme with an ancient twist (by <a href="https://www.redbubble.com/people/alexanderpetela/works/45492270-ancient-greek-vase-cat-meme">AlexanderPetela on redbubble.com</a>):</p>

    <p><img src="https://ih0.redbubble.net/image.1091780837.2270/flat,1000x1000,075,f.u1.jpg" alt="woman shouting at cat meme as Greek art" width='400'></p>

    <hr>

    <h4 id="zoom-suggestions">Zoom Suggestions</h4>
    <p>You may have considerations that will prevent you from keeping your camera on during our synchronous meetings, including internet speed or access issues, family responsibilities, or personal discomfort, so you may absolutely leave your camera off if you want or need to do so. To the extent that you are comfortable and able to turn your camera on, though, please feel free to do so (and be mindful of what’s within your camera’s view or which virtual background you’re using!). This will help us to create a sense of connection and community in our class and encourage engagement with and trust in one another.</p>

    <p>(More thoughts on the pros and cons of keeping cameras on can be found <a href="https://drive.google.com/file/d/1zpqWp74RAxFPWR_0eF-VV_400-Z-jTFa/view">here</a>.)</p>

    <p>Please try, however, to mute your microphone unless you are actively speaking or would like to offer a thought or question. This is to ensure that we give due focus to whoever is speaking and to avoid being distracted by unintended background noise.</p>

    <hr>

    <h4 id="academic-conduct">Academic Conduct</h4>
    <p>You are expected to abide by Holy Cross’ Academic Integrity Policy, posted <a href="https://catalog.holycross.edu/requirements-policies/academic-policies/#academicintegritytext">here</a>. Cheating on quizzes or exams or plagiarism on any of the written assignments (defined here as but not limited to reproducing answers from an answer key, referring to forbidden notes to help answer questions, copying another student’s answers, or copying another writer’s ideas without proper citation or attribution) may result in penalties ranging from a failure on the specific assignment, quiz, or exam to failure for the entire course.</p>

    <hr>

    <h4 id="student-hours">Student Hours</h4>
    <p>Student hours are an opportunity for you to meet with me outside of class to discuss anything you’d like: questions about the readings, clarifications about lectures or assignments, even simply shooting the breeze. My student hours are times that I am sure to be in my Zoom meeting room, unless you’re notified otherwise, so I highly encourage you to take advantage of them! I’m also happy to make appointments outside of my regular student hours if they conflict with your availability; simply shoot me an e-mail with what times and dates work for you.

      If you are on campus and you would like to meet in person, please email me directly so that we can figure out a time and a safe place to do so.</p>

    <hr>

    <h4 id="gender-expression-and-identity">Gender Expression and Identity</h4>
    <p>I (Prof. Libatique) am a cisgender man and use he/him/his pronouns. Your first assignment will be to fill out a Google Form to let me know what your preferred name is, what pronouns you use, and what you hope to learn from this class. My goal is to avoid dead-naming, as your preferred name may not match the legal name on my class roster.</p>

    <hr>

    <h4 id="diversity-inclusion-and-respect">Diversity, Inclusion, and Respect</h4>
    <p>Studying the ancient Greco-Roman world at Holy Cross is one way to challenge a centuries-long tradition that reserved the study of the ancient world for a privileged elite. As we learn about the multicultural world of the ancient Mediterranean through Greek and Roman literature and iconography, we should reflect on and actively explore how this study can help us recognize and respond to structures of power and privilege in our own lives. This work is especially important today, when historically false images of the ancient world are being invoked to support particular political viewpoints. Studying the Greco-Roman world helps us see through erroneous assertions about the “whiteness” or "heteronormativity" of the ancient Mediterranean, and reject claims that the Greco-Roman world is the special province of any ethnic, social, or political group.</p>

    <p>The nature of the class’ topic (gender and sexuality in the ancient world) will often require us to have difficult conversations with conflicting viewpoints. Our classroom is designated as a space where respectful dialogue must be the norm: <em>ad hominem</em> attacks, unsubstantiated generalizations, and discriminatory remarks of any kind will not be tolerated. All students are welcome in this class and at Holy Cross, no matter how they identify their race, ethnicity, gender identity and expression, sexual orientation, religious or spiritual tradition, or socioeconomic background. If there is disagreement, we will work with the ideas being discussed; no personal attacks will be allowed.</p>

    <p>We will also engage in discussions about the practices and norms of cultures that in many respects differ from our own, practices that may perhaps strike modern sensibilities as objectionable or crude. One of the major themes with which we will engage this semester is how our understanding of what is acceptable or unacceptable is largely constructed by cultural context. We must engage with the evidence of ancient texts and material culture in terms of the cultures in which they were created, without making value judgments according to our modern sensibilities; or, at the very least, we must interrogate why and how we are making those value judgments.</p>

    <hr>

    <h4 id="content-warnings">Content Warnings</h4>
    <p>At times this semester we will be discussing literature, material culture, and topics that may be disturbing, even traumatizing, to some students. Some topics that will come up often include rape, sexual violence, and modern notions of pedophilia. If you suspect that specific material is likely to be emotionally challenging for you, I’d be happy to discuss any concerns that you may have before the subject comes up in class either via e-mail or in person (in student hours or through an appointment). I will do my best to place content warnings on readings in the course schedule whose titles may not necessarily indicate the presence of traumatizing material.</p>

    <p>If you ever wish to discuss your personal reactions to course material with the class or with me individually afterward, I welcome such discussions as an appropriate part of our course. If you ever feel the need to leave the Zoom meeting during a class discussion, you may always do so without academic penalty, but you will be responsible for any missed material. If you leave the room for a significant amount of time, please make arrangements to get notes from another student or to see me individually to discuss the situation.</p>

    <hr>

    <h4 id="accessibility">Accessibility</h4>
    <p>Any student who feels the need for accommodation based on the impact of a disability should contact the Office of Accessibility Services to discuss support services available. Once the office receives documentation supporting the request for accommodation, the student would meet privately with Accessibility Services to discuss reasonable and appropriate accommodations. Contact information for the Office of Accessibility Services can be found <a href="https://www.holycross.edu/health-wellness-and-access/office-accessibility-services">here</a>. The office can be also reached by calling 508 793 3693.</p>

    <p>If you are already registered with Accessibility Services, please be sure to get your accommodation letters and deliver them to me in a timely fashion. Instructors need 4-5 days advance notice to be able to facilitate the process of receiving testing accommodations.</p>

    <hr>

    <h4 id="external-resources">External Resources</h4>
    <p>In addition to my e-mail and student hours, there are resources outside myself and the Classics department, like <a href="https://www.holycross.edu/support-and-resources/academic-services-and-learning-resources">Academic Services and Learning Resources</a> and the <a href="https://www.holycross.edu/academics/support-and-resources/center-for-writing/writers-workshop/make-appointment">Center for Writing</a> that can help with assignments or your progress through the course in general. Please also note that our Classics librarian, Ms. Jennifer Whelan, MLIS, is a great resource for research, citations, and other needs that relate to your assignments. Remember, there is no such thing as a stupid question.</p>

    <p>By the way, to test whether you’re reading the syllabus all the way through, please send me an e-mail with a photo of your favorite Greek or Roman monument in the e-mail body by 1pm on Tuesday, September 8, 2020, with the subject line “Achilles and Hector were ARCH-enemies.” If you do so, you will receive two (2) extra credit points on any quiz of your choice throughout the semester.</p>

    <hr>

    <h4 id="mandated-reporter">Mandated Reporter</h4>
    <p>As an instructor, one of my responsibilities is to help create a safe learning environment on our campus. I also have a mandatory reporting responsibility related to my role as your professor. It is my goal that you feel able to share information related to your life experiences in classroom discussions, in your written work, and in our one-on-one meetings. I will seek to keep information you share private to the greatest extent possible. However, any information that you disclose that addresses sexual misconduct or relates to a prior suicide attempt or an intention to attempt suicide requires my sharing that information with those on campus who are able to provide you with necessary resources.</p>

    <p>Following the College’s Sexual Misconduct Policy, I will share information about sexual misconduct with the College’s Office of Title IX Initiatives. If you would to talk to Title IX directly, they can be reached at 508-793-3336 or titleix [at] holycross.edu. For more information, please visit <a href="https://www.holycross.edu/sexual-respect-and-title-ix">this website</a>. If you would like to discuss the matter confidentially, the following confidential resources are available to you: the Chaplains' Office, 508 793 2448; Counseling Center, 508 793 3363; Health Services, 508 793 2276.</p>

    <p>Following the College’s Suicide Protocol, if you disclose a prior suicide attempt or an intention or plan to attempt suicide, I will share that information with the Chair of our student CARE Team, who will engage in appropriate outreach.</p>

    <p>Again, I want to stress that I would like to make our classroom and your assignments spaces where you can share your personal experiences and speak your minds, but please keep these disclosures in mind on assignments like personal reflection responses.</p>

  </div> <!-- content div -->

</div> <!-- row div for grid -->

{% endblock %}