{% extends 'clas199/page.html' %}
{% block content %}

<div class="row">

  <div class="col-3">
    <div class="sticky-top" style="top:65px;">
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right position-sticky">
        <a class="nav-link" href="#week-01">Week 1 (9/1, 9/3)</a>
        <!-- <div class="invisible"> -->
        <a class="nav-link" href="#week-02">Week 2 (9/8, 9/10)</a>
        <a class="nav-link" href="#week-03">Week 3 (9/15, 9/17)</a>
        <a class="nav-link" href="#week-04">Week 4 (9/22, 9/24)</a>
        <a class="nav-link" href="#week-05">Week 5 (9/29, 10/1)</a>
        <a class="nav-link" href="#week-06">Week 6 (10/6, 10/8)</a>
        <a class="nav-link" href="#week-07">Week 7 (10/13, 10/15)</a>
        <a class="nav-link" href="#week-08">Week 8 (10/20, 10/22)</a>
        <a class="nav-link" href="#week-09">Week 9 (10/27, 10/29)</a>
        <a class="nav-link" href="#week-10">Week 10 (11/5)</a>
        <a class="nav-link" href="#week-11">Week 11 (11/10, 11/12)</a>
        <a class="nav-link" href="#week-12">Week 12 (11/17, 11/19)</a>
        <a class="nav-link" href="#week-13">Week 13 (12/1, 12/3)</a>
        <a class="nav-link" href="#week-14">Week 14 (12/8)</a>
        <!-- </div> -->
      </nav>
    </div>
  </div>

  <div class="col-9 border-left pl-5 pr-5">


  	<h4 class="text-center" id="week-01">Week 1 (9/1, 9/3)<br>Introduction</h4>


    <h5>Slides</h5>
      <ul>
        <li><a href="#">link here</a></li>
      </ul>

    <h5>Videos</h5>
      <ul>
        <li><a href="#">T 9/1</a></li>
        <li><a href="#">R 9/3</a></li>
      </ul>

    <h5>Breakout Room Tasks</h5>
      <ul>
        <li>Introduce yourselves to each other (name, year, major, favorite Pokemon).</li>
        <li>Define the following terms based on your own current understanding (i.e., without Googling or using outside resources): <strong>gender</strong>, <strong>sexuality</strong>.</li>
      </ul>

    <h5>Assignments</h5>
      <ul>
        <li>Read the <a href="{% url 'clas199:policies' %}">course policies</a> and <a href="{% url 'clas199:grading' %}">grading contract</a> thoroughly to ensure that you understand all the requirements of the course.</li>
        <li>Fill out this <a href="#">student information form</a>.</li>
        <li>Read <a href="https://drive.google.com/file/d/11imJVwxHFgirRM0qkc0F112fUI2ppeTQ/view?usp=sharing">Ormand 1-24</a>.</li>
      </ul>

    <h5>Optional</h5>
      <ul>
        <li>* Skinner, Marilyn. 2013. &quot;<a href="https://drive.google.com/file/d/11ebrIR08Ip-ao9s8aGFStEhe9GXWxmMA/view?usp=sharing">Introduction: Why Ancient Sexuality? Issues and Approaches.</a>&quot; In <em>Sexuality in Greek and Roman Culture,</em> 1-28. Hoboken.</li>
        <li>* Clarke, Hannah. 2019. &quot;<a href="https://eidolon.pub/queer-classics-b84819356f74">Queer Classics.</a>&quot; <em>Eidolon</em>.</li>
        <li>* Gillies, Grace. 2017. &quot;<a href="https://eidolon.pub/the-body-in-question-d28045d23714">The Body in Question.</a>&quot; <em>Eidolon</em>.</li>
      </ul>

    <hr>




    <!-- Week 2 -->
    <h4 class="text-center" id="week-02">Week 2 (9/8, 9/10)<br>Greek Social Structures and Constructions</h4>

    <h5>Slides</h5>
      <ul>
        <li><a href="#">link here</a></li>
      </ul>

    <h5>Quiz #1 (Introduction)</h5>
      <ul>
        <li><a href="#">link here</a></li>
        <ul>
          <li>live from R 9/3 at 2:30pm to T 9/8 at 1:15pm</li>
        </ul>
      </ul>

    <h5>Videos</h5>
      <ul>
        <li><a href="#">T 9/8</a></li>
        <li><a href="#">R 9/10</a></li>
      </ul>

    <h5>Breakout Room Task</h5>
      <ul>
        <li>Discuss what types of social structures or concepts have involved considerations of gender or sexuality in American history. What kinds of opportunities were afforded to, e.g., men but not women and vice versa? Heterosexuals but not the LGBTQ+ community? How did those opportunities change over time? Come back to the big group with at least two examples.</li>
    </ul>

    <h5>Assignments</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/11tpFBAbLnUGhK94NrIbwUqZkUqZNdv6w/view?usp=sharing">Ormand 55-72</a>.</li>
        <li>* Robson, James. 2013. &quot;<a href="https://drive.google.com/file/d/11x7hf6mV8S1i5Yfrbb0PI49rA-Bk3INL/view?usp=sharing">Sexual Unions: Marriage and Domestic Life.</a>&quot; In <em>Sex and Sexuality in Classical Athens</em>, 3-35. Edinburgh.</li>
        <li>* Robson 2013, 36-66, “<a href="https://drive.google.com/file/d/1_ExjMvd3RdSnCLDcrPgawoeV1ru40X4V/view?usp=sharing">Same-Sex Relationships</a>.”</li>
      </ul>

    <h5>Optional</h5>
      <ul>
        <li>* Beck, Bill. 2018. “<a href="https://eidolon.pub/the-measure-of-a-man-a3ae1af0dcb2">The Measure of a Man: Minor Classical Phalluses, Major Modern Fragility.</a>” <em>Eidolon</em>.</li>
        <li>* Listen to the <a href="http://www.thehistoryofancientgreece.com/2018/04/074-marriage-and-domesticity.html">History of Ancient Greece podcast on marriage and domesticity</a> (scroll to the middle of the page for the appropriate play button).</li>
      </ul>

    <h5>Response #1</h5>
      <ul>
        <li><strong>Due F 9/11 at 11:59pm</strong></li>
      </ul>


      <!-- Week 3 -->
      <h4 class="text-center" id="week-03">Week 3 (9/15, 9/17)<br>Greek Epic</h4>

      <h5>Slides</h5>
        <ul>
          <li><a href="#">link here</a></li>
        </ul>

      <h5>Quiz #2 (Greek Social Structures and Constructions)</h5>
        <ul>
          <li><a href="#">link here</a></li>
          <ul>
            <li>live from R 9/10 at 2:30pm to T 9/15 at 1:15pm</li>
          </ul>
        </ul>

      <h5>Videos</h5>
        <ul>
          <li><a href="#">T 9/15</a></li>
          <li><a href="#">R 9/17</a></li>
        </ul>

      <h5>Breakout Room Task</h5>
        <ul>
          <li>Discuss the following questions:
            <ul>
              <li>What policies having to do with gender or sexuality have dictated who can or can’t be a soldier, etc., in the American military?</li>
              <li>What are the reasons given for those policies? What other factors are probably at play in those policies?</li>
            </ul>
          </li>
      </ul>

      <h5>Assignments</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/11wAAjitUiysJo4-B3L68o5XljMyFrXLo/view?usp=sharing">Ormand 25-34</a>.</li>
        <li>Odyssey 19 ????????</li>
        <li>* Zuckerberg, Donna. 2016. “<a href="https://eidolon.pub/the-breasts-that-launched-a-thousand-ships-c56b42aec9da">The Breasts that Launched a Thousand Ships (Helen’s face is up here, thanks).</a>” <em>Eidolon</em>.</li>
        <li>* Foley, Helene P. 1995. “Penelope as a Moral Agent.” in <em>The Distaff Side: Representing the Female in Homer’s Odyssey</em>, edited by B. Cohen, 93-116. New York. (in GDrive folder)</li>
      </ul>


      <h5>Optional</h5>
        <ul>
          <li>* Harrisson, Juliette Grace. 2016. &quot;<a href="https://journal.transformativeworks.org/index.php/twc/article/view/690/576">Shipping in Plato&#39;s <em>Symposium</em>.</a>&quot; In <em>The Classical Canon and/as Transformative Work</em>, edited by Ika Willis, special issue, <em>Transformative Works and Cultures</em> 21. ???????</li>
          <li>* Franco, Cristina. 2012. “Women in Homer,” in Sharon L. James and Sheila Dillon, eds., <em>A Companion to Women in the Ancient World</em>. London. 55-65. (Dinand online)</li>
        </ul>


      <h5>Response #2</h5>
        <ul>
          <li><strong>Due F 9/18 at 11:59pm</strong></li>
        </ul>

      <hr>

      <!-- Week 4 -->
      <h4 class="text-center" id="week-04">Week 4 (9/22, 9/24)<br>Greek Elegy and Lyric and the Symposium</h4>

      <h5>Slides</h5>
        <ul>
          <li><a href="#">link here</a></li>
        </ul>

      <h5>Quiz #3 (Greek Epic)</h5>
        <ul>
          <li><a href="#">link here</a></li>
          <ul>
            <li>live from R 9/17 at 2:30pm to T 9/22 at 1:15pm</li>
          </ul>
        </ul>

      <h5>Videos</h5>
        <ul>
          <li><a href="#">T 9/22</a></li>
          <li><a href="#">R 9/24</a></li>
        </ul>

      <h5>Breakout Room Task</h5>
        <ul>
          <li>Bring to the breakout room your favorite example from media (music, movies, TV shows, books, anything) of people having a party, and describe what the partygoers are doing to your breakout room classmates. It can be funny, exciting, embarrassing, awkward, whatever you'd like!</li>
        </ul>

      <h5>Assignments</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/11wAAjitUiysJo4-B3L68o5XljMyFrXLo/view?usp=sharing">Ormand 34-54</a>.</li>
        <li><a href="https://drive.google.com/file/d/19GLpkJtqXdBS1AWqTZmSz6wIlRQATpHi/view?usp=sharing">Sappho 1, 16, 31</a>. -- Carson, Anne (trans.). 2003. <em>If Not, Winter: Fragments of Sappho</em>. New York.</li>
        <li><a href="https://diotima-doctafemina.org/translations/greek/archilochos-the-cologne-epode/archilochos-p-colon-7511/">Archilochus, Cologne Epode</a> - <strong>CW</strong>: sexual activity</li>
        <li>* Murcia, Francesco Javier. 2017. &quot;<a href="https://drive.google.com/file/d/1-6BmZAlSdLlKEiJkQN3v2zsKEZshqrzk/view?usp=sharing">Wine, Women, and Wisdom: The Symposia of Ancient Greece.</a>&quot; <em>National Geographic History</em>.</li>
        <li>* Haselswerdt, Ella. 2016. “<a href="https://eidolon.pub/re-queering-sappho-c6c05b6b9f0b">Re-Queering Sappho.</a>” <em>Eidolon</em>.</li>
      </ul>

      <h5>Optional</h5>
      <ul>
        <li>* James, Sharon L. 2012. "Sex and the Single Girl: The Cologne Fragment of Archilochus." In <em>A Companion to Women in the Ancient World</em>, edited by Sharon L. James and Sheila Dillon, 81-83. Malden, Oxford, and Chichester. (Dinand online)</li>
        <li>* Listen to the <a href="http://greecepodcast.com/episode4.html">Ancient Greece Declassified podcast on Sappho</a>.</li>
      </ul>

      <h5>Response #3</h5>
        <ul>
          <li><strong>Due F 9/25 at 11:59pm</strong></li>
        </ul>


  </div> <!-- content div -->

</div> <!-- row div for grid -->

{% endblock %}
