{% extends 'latn213/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#recitation">Recitation</a>
        <a class="nav-link" href="#word-study">Word Study</a>
        <a class="nav-link" href="#reverse-translation">Reverse Translation</a>
        <a class="nav-link" href="#response-composition">Response Composition</a>
        <a class="nav-link" href="#response-translation">Response Translation</a>
        <a class="nav-link" href="#midterm">Midterm: Mini-Commentary</a>
        <a class="nav-link" href="#final">Final: Write Your Own Exam</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creative Project Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#recitation">Recitation</a>
            <a class="dropdown-item" href="#word-study">Word Study</a>
            <a class="dropdown-item" href="#reverse-translation">Reverse Translation</a>
            <a class="dropdown-item" href="#response-composition">Response Composition</a>
            <a class="dropdown-item" href="#response-translation">Response Translation</a>
            <a class="dropdown-item" href="#midterm">Midterm: Mini-Commentary</a>
            <a class="dropdown-item" href="#final">Final: Write Your Own Exam</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>


  <div class="col-8 border-left px-5">
    {% endif %}
    <h4 id="recitation">Recitation</h4>

    <p>This assignment asks you to read (in Latin and out loud!) any of Pliny’s letters in our textbook. You will be evaluated based on your pronunciation and your phrasing, with brownie points for tone and inflection. The letter can be as short or as long as you wish; the only requirement is that it be a full letter, rather than a section of a letter. You do NOT need to memorize; you can have the text in front of you, marked however you’d like to help with your reading. You can either do this live via a one-on-one Zoom meeting or via an audio or video recording. More specific guidelines to come.</p>

    <hr>

    <h4 id="word-study">Word Study</h4>

    <p>You will choose one word and trace it (and any of its declensions or conjugations) throughout Pliny’s letters through methods and tools that I will demonstrate for you. How often does the word appear? When is a noun used as a subject versus a direct object? When is a verb used in the subjunctive versus the indicative? More specific guidelines to come.</p>

    <hr>

    <h4 id="reverse-translation">Reverse Translation</h4>

    <p>I will provide a translation of one of Pliny’s letters and ask you to evaluate it. Is the translator faithful to the actual Latin words and constructions? Does the translator capture Pliny’s tone well? Is the translation still comprehensible to a 21st century audience? If not, can you translate the translation into modern English that we can understand? More specific guidelines to come.</p>

    <hr>

    <h4 id="response-composition">Response Composition</h4>

    <p>This assignment asks you to compose (in Latin) a response of 6-10 sentences to any of Pliny’s letters. More specific guidelines to come.</p>

    <hr>

    <h4 id="response-translation">Response Translation</h4>

    <p>You will be assigned another student’s response composition, and you will be asked to translate it! More specific guidelines to come.</p>

    <hr>

    <h4 id="midterm">Midterm: Mini-Commentary</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <hr>

    <h4 id="final">Final: Write Your Own Exam</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}
{% endblock %}