{% extends 'latn399/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#participation">Participation</a>
        <a class="nav-link" href="#liber-personalis"><em>Liber Personalis</em></a>
        <a class="nav-link" href="#article-presentation-and-discussion-lead">Article Presentation and Discussion Lead</a>
        <a class="nav-link" href="#fact-sheets">Fact Sheets</a>
        <a class="nav-link" href="#check-ins">Check-Ins</a>
        <a class="nav-link" href="#final-semester-grade">Final Semester Grade</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grading Section
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#participation">Participation</a>
            <a class="dropdown-item" href="#liber-personalis"><em>Liber Personalis</em></a>
            <a class="dropdown-item" href="#article-presentation-and-discussion-lead">Article Presentation and Discussion Lead</a>
            <a class="dropdown-item" href="#fact-sheets">Fact Sheets</a>
            <a class="dropdown-item" href="#check-ins">Check-Ins</a>
            <a class="dropdown-item" href="#final-semester-grade">Final Semester Grade</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>

  <div class="col-8 border-left px-5">
    {% endif %}

    <h4 id="participation">Participation (40%)</h4>
    <p>Participation means contributing to our class meetings in productive and respectful ways through translating or asking questions about the Latin, discussing the arguments of and your responses to works of secondary scholarship, asking questions and offering thoughts in the Zoom chat box, and engaging in productive dialogues with your classmates and with me. </p>

    <hr>

    <h4 id="liber-personalis"><em>Liber Personalis</em> Assignment (30%)</h4>
    <p>Our semester-long project will be curating a <em><strong>Liber Personalis</strong></em>, a collection of quotes, passages, and lines of poetry from our semester’s readings that are important to you and your understanding of Roman or modern gender and sexuality. How you define “important” is up to you! See the separate <a href="#"><em>Liber Personalis</em> page</a> for details.</p>

    <hr>

    <h4 id="article-presentation-and-discussion-lead">Article Presentation and Discussion Lead (10%)</h4>
    <p>You will choose one work of secondary scholarship in the course schedule for the semester and then lead a discussion about it in class. Each presentation and discussion lead will consist of the following parts: a one-on-one meeting with me the week before your presentation <strong>(5%)</strong>, a 5-10 minute summary of the article or chapter’s main arguments and evidence <strong>(2%)</strong>, and the offering of two or three questions (circulated before the class period in question) and the moderation of your classmates’ discussion of their thoughts <strong>(3%)</strong>. More details to come.</p>

    <hr>

    <h4 id="fact-sheets">Fact Sheets (10%)</h4>
    <p>For almost every week, you will be asked to complete and submit a “fact sheet” before our Tuesday meeting that consists of questions relating to the topic, author, or work under discussion that week. You can use whatever resources you have at your disposal, including the <em>Oxford Classical Dictionary</em>, the commentaries and secondary scholarship for the week, and even (gulp) Wikipedia. More details to come.</p>

    <hr>

    <h4 id="check-ins">Check-Ins (10%)</h4>

    <p>You will be asked to schedule two one-on-one meetings with me outside of the <em>Liber Personalis</em> meetings and the article presentation meeting so that we can touch base about how you’re doing in the class. The two meetings <strong>(each 5%)</strong> can occur at any point of the semester: very beginning and very end, both in the middle, etc. They can be as long or as short as you’d like, and we can touch on whatever topics you’d like: lingering questions about a reading, clarifications on one of the semester requirements, shooting the breeze. If you’d like to meet during my student hours, please just email me ahead of time to let me know that this will be one of your two check-ins. Easiest 10 percentage points ever, right?</p>

    <hr>

    <h4 id="final-semester-grade">Final Semester Grade</h4>
    <p>The final grade will be calculated as a percentage out of 100; then, it will be converted to a letter grade according to the following scheme:</p>

    <ul class="list-unstyled">
      <li>A = 96-100%; A- = 90-95%</li>
      <li>B+ = 87-89%; B = 84-86%; B- = 80-83%</li>
      <li>C+ = 77-79%; C = 74-76%; C- = 70-73%</li>
      <li>D+ = 67-69%; D = 65-66%</li>
      <li>F = 0-64%</li>
    </ul>

    <p>Grades ending in .45 or greater will be rounded up to the nearest whole number; grades ending in .44 or less will be rounded down to the nearest whole number.</p>

    <hr>
    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}
{% endblock %}