{% extends 'latn399/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#overview">Overview</a>
        <a class="nav-link" href="#why-a-liber-personalis">Why a <em>liber personalis</em>?</a>
        <a class="nav-link" href="#format">Format</a>
        <a class="nav-link" href="#entry-process">Entry Process</a>
        <a class="nav-link" href="#analyses">Analyses</a>
        <a class="nav-link" href="#final">Final Analysis and Reflection</a>
        <a class="nav-link" href="#master-list">Master List of Entries</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creative Project Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#overview">Overview</a>
            <a class="dropdown-item" href="#why-a-liber-personalis">Why a <em>liber personalis</em>?</a>
            <a class="dropdown-item" href="#format">Format</a>
            <a class="dropdown-item" href="#entry-process">Entry Process</a>
            <a class="dropdown-item" href="#analyses">Analyses</a>
            <a class="dropdown-item" href="#final">Final Analysis and Reflection</a>
            <a class="dropdown-item" href="#master-list">Master List of Entries</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>


  <div class="col-8 border-left px-5">
    {% endif %}
    <h4 id="overview">Overview</h4>

    <p>As a semester-long project, you will curate a <em><strong>liber personalis</strong></em>. This <em>liber</em> will serve as a repository for passages from your reading assignments that strike you as personally interesting; vital to our understanding of a literary work, an author, a socio-cultural concept, Roman gender and sexuality, or modern gender and sexuality; and/or part of a pattern that you (through the very process of recording passages) come to detect in the various works that we will be reading. Eventually, you will use your observations about the language of your chosen passages and the patterns that start to emerge in and across course readings to reflect on an aspect of Roman gender and sexuality that most interests you.</p>

    <p class="mb-0">The <em>liber</em> project will be worth 30% of your semester grade, split into three components at appropriate points in the semester:</p>
    <ul>
      <li>Analysis 1 (Week 5, 7.5%)</li>
      <li>Analysis 2 (Week 10, 7.5%)</li>
      <li>Final Analysis and Reflection (exam period, 15%)</li>
    </ul>

    <p>See the details below.</p>

    <hr>

    <h4 id="why-a-liber-personalis">Why a <em>Liber Personalis</em>?</h4>

    <p>This assignment was inspired by, as many things in your professor’s life, <a href="https://twitter.com/roaringgirle/status/1257010306460667906">a Twitter thread</a>.</p>

    <p>Prof. Bourne explains that keeping a “commonplace book” in which one would transcribe and organize choice passages from one’s reading (for study and pleasure) was a fairly common reading practice in early modern Europe. Such books helped with memorization, reflection, and sourcing for original arguments.</p>

    <blockquote class="blockquote text-right">[S]tudents may note down everything worth storing to memory from what they hear or read in their texts, apportioning their excerpted material into clearly defined categories. In this way students will have a storehouse from which to draw an abundant supply of excellent material, [quotations], similitudes, narrations, and so forth, for any matter on which they are required to speak or write.<footer class="blockquote-footer text-right">Justus Lipsius, 1564</footer>
    </blockquote>

    <p>We will be covering <em>a lot</em> of Roman authors and <em>many</em> secondary sources in a very short amount of time, and my goal in this course is to help you see common themes and trends across disparate sources about the ways in which the Romans conceptualized gender and sexuality and, perhaps more importantly, how their conceptions differed from our own. A <em>liber personalis</em>, curated throughout the course, is the best way to keep a record of what you found important in what you’ve read.</p>

    <p>Plus, it’ll be a cool keepsake from this course! I believe the kids call it “swag.”</p>

    <hr>

    <h4 id="format">Format</h4>

    <p class="mb-0">Your liber should be either:</p>
    <ul>
      <li><strong>a physical book</strong> that you can hold in your hands: a notebook, a Moleskine, a binder with loose-leaf paper, etc. Please be aware that you will have to submit this book to me at the end of the semester electronically, so if you choose a physical format, make sure that you will be able to scan or take pictures of its pages. See submission details below.</li>
      <li>or <strong>a digital book</strong> that you will be able to export at the end of the semester as a single file, e.g., as a PDF: a Word or Pages document, a Google Doc, iPad app like Notability, etc.</li>
    </ul>

    <p>The preference would be for a <strong>physical book</strong> if possible (for reasons that will be explained below), but if you would prefer to create a digital book, that works too! Whether you create a physical book or a digital document, the <em>liber</em>’s contents should be carefully organized, legible, and demonstrate a keen attention to design. As you begin to sort your passages into categories (see below) in a way that makes sense to you, consider experimenting with different scripts/fonts, colors, images, cutouts, paste-ins, collage techniques, illustrations, etc. If you are creating a physical book, you are more than welcome to type, print, and paste your transcribed passages into your book instead of writing them out by hand. By the same token, you may also handwrite out your passages and scan or upload pictures of them into a digital book! It's up to you. See details below.</p>

    <hr>

    <h4 id="entry-process">Entry Process</h4>

    <p>You should follow the instructions below <strong>for every assignment marked with (LP) in the <a href="{% url 'latn399:schedule' %}">course schedule</a></strong>. (And see below these instructions for a video that shows an example of how to make an entry.) If our readings lead you to other primary or secondary sources that you find interesting or relevant to our course, you are absolutely encouraged to incorporate passages from those sources into your <em>liber</em> as well! One passage from each mandatory reading assignment can be just a starting point.</p>

    <p>Keep in mind that your <em>liber</em> will get more and more complex and textured as the semester goes on and as you add more passages to it. Your categories (see below) might change and/or you might find that you haven’t given yourself enough space for a certain category. That’s okay! This is a living document, a dynamic record of your reading. It’s supposed to be a little bit messy, so roll with it. Maybe you can paste in more pages if you’ve run out of room. Maybe you can amend a subject heading or start a new one. This is your personal project, so organize, arrange, and categorize in whatever way makes sense to you!</p>

    <p>Here are the steps to take with any given entry:</p>
    <ol>
      <li>
        <p><strong>For every assignment marked with (LP) in the <a href="{% url 'latn399:schedule' %}">course schedule</a>, choose at least one passage (though you are absolutely free to choose more).</strong> Each passage should be at least one sentence long for prose and 2-5 lines long for poetry. (From the inscriptions packet in Week 8, choose either at least one sentence from the longer inscriptions or a collection of 2-5 of the one-line inscriptions).</p>

        <p>The passages should be ones that you consider to be “important,” whatever that means to you. They could be important to you personally, or you might deem them to be important to a localized or broader understanding of a certain character, narrative situation, concept, or facet of gender and sexuality. As the semester progresses, you will start to see patterns in language and concerns/preoccupations of the readings. You may then deem a passage to be important because it offers a different take on the same topic from a passage you’ve previously recorded.</p>

        <p>For example, in the reading for Tuesday, September 15, I think that Lucretia’s final address to her husband and the men in attendance is important because it gives her a voice and control over her own fate:</p>

        <blockquote class="blockquote text-right" style="color:#5a05b5;"><em>“vos” inquit “videritis quid illi debeatur: ego me etsi peccato absolvo, supplicio non libero; nec ulla deinde impudica Lucretiae exemplo vivet."</em> She said, "See to what is owed to that man; but even though I absolve myself of fault, I do not free myself from punishment. No unchaste woman hereafter will live by the example of Lucretia.”</blockquote>

        <p>Wow.</p>

        <p>An example passage <strong>(CW: rape)</strong> from the secondary reading for that week, Joshel 2002, that strikes me as interesting might be the following:</p>

        <blockquote class="blockquote text-right" style="color:#5a05b5;">“In these stories of early Rome, the death and disappearance of women recur periodically; the rape of women becomes the history of the state.” (p. 164)</blockquote>
      </li>

      <li class="mt-3"><strong>Transcribe your passage into your book.</strong> Make sure NOT to copy and paste but to literally handwrite (if you're creating a physical book or if you'll scan each entry into a digital form) or type out (if you're creating a digital book) each letter, word, and punctuation mark as it appears. <strong>Handwriting is the most preferable form</strong> because the act of transcription makes you think on a granular level about what it is you’re writing out, which is the entire point! For Latin passages, feel free to write out a translation if you so desire, but it is not mandatory.</li>

      <li class="mt-3"><strong>Near the passage, make sure to record 1) the date that you wrote the passage down and 2) its citation.</strong> For example, for the Lucretia quote that I gave above, right above the passage, I might write “7/15/2020 -- Livy <em>Ab Urbe Condita</em> 1.58”. For a secondary work, I’d either write out the full citation (7/15/2020 -- Joshel, S.R. 2002. “The Body Female and the Body Politic: Livy’s Lucretia and Verginia.” In <em>Sexuality and Gender in the Classical World: Readings and Sources</em>, edited by Laura McClure, 163-190. Malden (MA) and Oxford: 164) or an abbreviated version (Joshel 2002, 164) that gives me enough information to get back to the original citation.</li>

      <li class="mt-3">
        <p><strong>Assign a category to your passage.</strong> It’s up to you what this category will be! The category can be objective or subjective; it depends on the passage and why you’ve deemed it important! For example, with the Lucretia passage, if I were to assign it to an objective category, I might call it something like “Female Speech” or “Victims of Sexual Aggression.” A more subjective category might be something like “Powerful Women.” Two people can choose the exact same passage, but odds are that their categorization of it will differ; this is your own personal interpretation!</p>

        <p>Opt for a specific, descriptive category, rather than something general. For example, <span class="font-weight-bold text-danger">“Original Latin”, “Secondary Scholarship”, “Gender”, and “Sexuality”</span> are way too broad, but <span class="font-weight-bold text-primary">“Nouns/Adjectives that Reference Masculinity”, “Bad Scholarly Takes”, “Gender and Politics”, and “Deviant Sexuality”</span> are specific and descriptive.</p>

        <p>The point of these categories is to collect multiple passages under the same category; <strong>you should not have the same number of categories as passages, and by the end of the semester, no category should include only one entry.</strong> So, try to make your category headings descriptive and specific, but not so narrow that the category cannot apply to any other passage.</p>

        <p>By the end of the semester, you should have at least <strong>10 categories total</strong>.</p>
        <ul>
          <li><strong>The <em>liber</em> that you submit at the end of the semester should be organized by category, rather than by date.</strong> It is probably a good idea, then, to make sure that your book is spacious enough or adaptable enough to add both new categories and new entries to existing categories.</li>
          <li><strong>As you add new passages and categories to your <em>liber</em>, if it isn’t already organized by category, make sure to periodically rearrange your passages so that those belonging to the same category are together.</strong> For a digital <em>liber</em>, this could mean copying and pasting to rearrange your pre-existing entries or creating new files. For a physical <em>liber</em>, this could involve partitioning your notebook into, e.g., 10-page sections, one per category, at the very start of the semester to ensure that you’ll have space; or keeping a “running” <em>liber</em> with entries added as you go that you will then rearrange into a new <em>liber</em> organized by category at the end of the semester.</li>
        </ul>
      </li>
    </ol>

    <p>Here is a video that shows an example of how you might make an entry in your <em>liber</em>.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/yV_v3_WfBFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr>

    <h4 id="analyses">Analyses</h4>

    <p>Twice in the semester (<strong>Friday, 10/2, by 11:59pm</strong>, and <strong>Friday, 11/6, by 11:59pm</strong>), you will complete an analysis of your <em>liber personalis</em> in its state at that time. You should go through the following checklist and answer the prompts in a document that you can send to me via email in .doc(x), .pdf, or Google Docs form.</p>

    <ol>
      <li><strong>How many total entries do you currently have?</strong> If you don’t have at least the number of entries indicated below, you need to catch up before submitting your analysis.
        <ul>
          <li>For the Week 5 analysis, you should have at least 14 entries.</li>
          <li>For the Week 10 analysis, you should have at least 13 more, for a total of at least 27.</li>
          <li><a href='#master-list'>See below for master list of entries.</a></li>
        </ul>
      </li>

      <li class="mt-3"><strong>For each entry, have you provided:</strong>
        <ul>
          <li>the date that you entered it?</li>
          <li>its citations?</li>
        </ul>
      </li>

      <li class="mt-3">
        <strong>Does each entry have a category?</strong> If not, you need to add categories to your entries.
      </li>

      <li class="mt-3">
        <strong>Take a look at each category and the entries that belong to it and consider whether there are any entries that you want to put into a different category or any categories that you want to change.</strong> As you look back on what you've entered, are there passages that you now think are interesting for a different reason than when you entered it in the first place? Are there any category headings that you need to adjust in order to really capture what ties all the entries that belong to it together? Feel free to rearrange your entries and to adjust your categories as needed. <strong>If you do make changes in this step, make sure to list the changes that you make. If you don't, no need to write out anything.</strong>
      </li>

      <li class="mt-3">
        <strong>After completing step 4, list all of the categories that you’ve created and indicate how many entries you have for each.</strong> For example, “Female Speech (x3)”, “Non-Binary Nouns and Adjectives (x2)”.
      </li>

      <li class="mt-3">
        <strong>[200-300 words] Explain how you have organized and categorized your entries in terms of literal physical layout (if a physical <em>liber</em>) or document structure (if a digital <em>liber</em>).</strong> For example, do you have all entries for a given category grouped together under a heading? Are you keeping a chronological list of entries with different categories that you will rearrange at the end of the semester? Are you using colors, shapes, different stationery, etc., to indicate differences in categorization? Be as specific as possible in your description. If your approach to organization and categorization has changed/evolved since the beginning of the semester (especially from the first analysis to the second), you should describe how and why it has changed/evolved. You may also want to supplement your description with a couple of photographs to illustrate your method if describing it proves difficult.
      </li>

      <li class="mt-3">
        <strong>Indicate two of your categories that you like best, and for each, type out at least two but up to four entries that appear in that category, including the date of recording and its citation.</strong>
      </li>

      <li class="mt-3">
        <strong>[300-400 words] Select one of the two categories that you presented in the last step. Then compare the entries contained within it in terms of theme, content, and language.</strong> Are there any similarities amongst the entries? Any patterns that are beginning to emerge? Any differences? Can you draw any conclusions about how the entries illustrate the category heading?
        <ul>
          <li>You must support any claims of similarities, patterns, differences, illustration, etc., with concrete linguistic evidence from the entries. You cannot assume that I will see the same patterns as you! Walk me through what you see and discuss some possible interpretive implications of your observations.</li>
        </ul>
      </li>
    </ol>

    <hr>

    <h4 id="final">Final Analysis and Reflection</h4>

    <p>The final analysis and reflection at the end of the semester will incorporate some of the analysis checkpoints described above but then expand on the reflective element.</p>

    <ol>
      <li>
        <strong>How many entries does your <em>liber</em> have at the end of the semester?</strong> It should have at least 39 entries total. If not, you must catch up.
        <ul>
          <li><a href='#master-list'>See below for master list of entries.</a></li>
        </ul>
      </li>
      <li><strong>For each entry, have you provided:</strong>
        <ul>
          <li>the date that you entered it?</li>
          <li>its citation?</li>
          <li>a category? (easiest way to indicate this is to list the entry under a category heading)</li>
        </ul>
      </li>
      <li>
        <strong>Take a look at each category and the entries that belong to it and consider whether there are any entries that you want to put into a different category or any categories that you want to change.</strong> At this point of the semester, looking back on the entries that you've accumulated, it would be totally warranted (perhaps even expected) that you'll have come to new or different conclusions about your entries and categories. Feel free to rearrange your entries and to adjust your categories as needed. <strong>If you do make changes in this step, make sure to list the changes that you make. If you don't, no need to write out anything.</strong>
      </li>
      <li>
        <strong>List all of the categories that you’ve created and indicate how many entries you have for each.</strong> For example, "Gender and Politics x3", "Deviant Sexuality x4." You should have at least <strong>10 categories</strong>, and all categories should have at least two entries. With a minimum of 39 entries total over the semester, that makes for an average of about 3-4 entries per category.
      </li>
      <li>
        <strong>[6-8pp. double spaced] Write a reflective essay that answers the following question: what aspect of Roman gender and sexuality did you find the most interesting this semester?</strong> While this doesn’t have to be a formal essay, you might think of your answer to the question as your thesis, which you will have to support and illustrate using the evidence of the entries and categories in your <em>liber</em>. <em>Why</em> was it so interesting to you? <em>How</em> do your entries and categories inform or enrich your understanding of that aspect of Roman gender and sexuality? Do your entries help indicate a difference between that aspect of Roman gender and sexuality and its counterpart (or lack thereof) in modern gender and sexuality? What themes have emerged across the different entries and categories? Are there any points of resonance between different categories?
        <ul>
          <li>You must cite the entries in your <em>liber</em> at least <strong>twelve (12) times</strong> in the essay. Ideally, these twelve citations will include at least one passage from each of your ten categories, but your answer to the question may lead you to focus on a few categories and entries at the expense of the others -- that’s okay!</li>
          <li>You can cite those entries either directly (e.g., “Livy 1.58”) or indirectly with your <em>liber</em>’s page numbers (e.g., “as Livy writes (p. 3)...”) (see below).</li>
          <li>The length of 6-8pp. double spaced is just a suggested benchmark. If you can demonstrate your answer to the question and cite your <em>liber</em> twelve times in the space of 4-5 pages, that’s great; if you’re really passionate about your answer and you want to take up 10-12 pages, that’s great too.</li>
        </ul>
      </li>
      <li>
        <strong>Submit the analysis, the reflective essay, and your <em>liber</em> to me via email.</strong>
        <ul>
          <li>Please make sure that your <em>liber</em> has page numbers so that I can make references to it more easily in my comments.</li>
          <li>If your <em>liber</em> is not in a digital format, you can scan or take pictures of its pages and either string them together in page order in a PDF or submit the photos labeled appropriately (e.g., “pp02-03.jpg”, “pp04-05.jpg”, etc.)</li>
        </ul>
      </li>
    </ol>

    <hr>

    <h4 id="master-list">Master List of Entries</h4>

    <h5>For Analysis 1 (due F 10/2 at 11:59pm):</h5>
    <ul>
      <li><a href="{% url 'latn399:schedule' %}#week-01">Week 1</a>
        <ul>
          <li>Ormand 2018, 1-24</li>
          <li>Ormand 2018, 182-201</li>
        </ul>
      </li>
      <li><a href="{% url 'latn399:schedule' %}#week-02">Week 2</a>
        <ul>
          <li>Livy 1.4; 1.9.8-16</li>
          <li>Livy 1.11.5-9; 1.13</li>
          <li>Hales and Park 2018</li>
        </ul>
      </li>
      <li><a href="{% url 'latn399:schedule' %}#week-03">Week 3</a>
        <ul>
          <li>Livy 1.57-58</li>
          <li>Livy 1.59-60</li>
          <li>Joshel 2002</li>
        </ul>
      </li>
      <li><a href="{% url 'latn399:schedule' %}#week-04">Week 4</a>
        <ul>
          <li>Ovid <em>Fasti</em> 2.721-784</li>
          <li>Ovid <em>Fasti</em> 2.785-856</li>
          <li>Newlands 1995</li>
        </ul>
      </li>
      <li><a href="{% url 'latn399:schedule' %}#week-05">Week 5</a>
        <ul>
          <li>Terence <em>Hecyra</em> 816-840</li>
          <li>Terence <em>Hecyra</em> 841-880</li>
          <li>Slater 1988</li>
        </ul>
      </li>
    </ul>

    <h5>For Analysis 2 (due F 11/6 at 11:59pm):</h5>
    <ul>
      <li><strong>all entries from Analysis 1</strong></li>
      <li>TBD</li>
    </ul>

    <h5>For Final Analysis (due during exam period):</h5>
    <ul>
      <li><strong>all entries from Analyses 1 and 2</strong></li>
      <li>TBD</li>
    </ul>

    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}
{% endblock %}