{% extends 'latn399/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-3">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#week-01">Week 1 (9/1, 9/3)</a>
        <a class="nav-link" href="#week-02">Week 2 (9/8, 9/10)</a>
        <a class="nav-link" href="#week-03">Week 3 (9/15, 9/17)</a>
        <a class="nav-link" href="#week-04">Week 4 (9/22, 9/24)</a>
        <a class="nav-link" href="#week-05">Week 5 (9/29, 10/1)</a>
        <a class="nav-link" href="#week-06">Week 6 (10/6, 10/8)</a>
        <a class="nav-link" href="#week-07">Week 7 (10/13, 10/15)</a>
        <a class="nav-link" href="#week-08">Week 8 (10/20, 10/22)</a>
        <a class="nav-link" href="#week-09">Week 9 (10/27, 10/29)</a>
        <a class="nav-link" href="#week-10">Week 10 (11/5)</a>
        <a class="nav-link" href="#week-11">Week 11 (11/10, 11/12)</a>
        <a class="nav-link" href="#week-12">Week 12 (11/17, 11/19)</a>
        <a class="nav-link" href="#week-13">Week 13 (12/1, 12/3)</a>
        <a class="nav-link" href="#week-14">Week 14 (12/8)</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Week Selection
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#week-01">Week 1 (9/1, 9/3)</a>
            <a class="dropdown-item" href="#week-02">Week 2 (9/8, 9/10)</a>
            <a class="dropdown-item" href="#week-03">Week 3 (9/15, 9/17)</a>
            <a class="dropdown-item" href="#week-04">Week 4 (9/22, 9/24)</a>
            <a class="dropdown-item" href="#week-05">Week 5 (9/29, 10/1)</a>
            <a class="dropdown-item" href="#week-06">Week 6 (10/6, 10/8)</a>
            <a class="dropdown-item" href="#week-07">Week 7 (10/13, 10/15)</a>
            <a class="dropdown-item" href="#week-08">Week 8 (10/20, 10/22)</a>
            <a class="dropdown-item" href="#week-09">Week 9 (10/27, 10/29)</a>
            <a class="dropdown-item" href="#week-10">Week 10 (11/5)</a>
            <a class="dropdown-item" href="#week-11">Week 11 (11/10, 11/12)</a>
            <a class="dropdown-item" href="#week-12">Week 12 (11/17, 11/19)</a>
            <a class="dropdown-item" href="#week-13">Week 13 (12/1, 12/3)</a>
            <a class="dropdown-item" href="#week-14">Week 14 (12/8)</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if not x %}
  </div> <!-- row col nav end for not-mobile -->
  {% else %}
  <hr>
  {% endif %}

  {% if not x %}
  <div class="col-9 border-left px-5">
    {% endif %}

    <h4 class="text-center">General Note</h4>

    <p>For any given class period, you will be expected to prepare a Latin text. Please note that “prepare” does NOT mean “write out a translation” -- in fact, you are expressly forbidden from writing out a translation to bring to class. “Prepare” means to make grammatical notes (identify person, number, tense, voice, and mood of verbs; gender, case, and number of nouns, adjectives, and participles; etc.), mark your Latin text with syntactic and structural aides (parentheses to sequester clauses or phrases, arrows to indicate possession or modification, underlines, circles, etc.), and note down unfamiliar vocab or conjugations or declensions. Writing out a translation means that you’re not actually doing the work of understanding how the Latin works, which is infinitely more important than coming up with a “perfect” translation.</p>

    <hr>

    <h4 id="week-01" class="text-center">Week 1<br>Introduction</h4>

    <h5>Tuesday, September 1</h5>
    <p>Introduction: Syllabus, Course Website, Class Format</p>

    <h5>Thursday, September 3</h5>
    <ul>
      <li>Read: Kirk Ormand (2018), “Introduction,” in <em>Controlling Desires: Sexuality in Ancient Greece and Rome</em>, Revised Edition, 1-24 (Austin).</li>
      <li>Read: Kirk Ormand (2018), “Rome and Roman Sex,” in <em>Controlling Desires: Sexuality in Ancient Greece and Rome</em>, Revised Edition, 182-201 (Austin).</li>
      <li>Read: Marilyn B. Skinner (2013), “Early Rome: A Tale of Three Cultures,” in <em>Sexuality in Greek and Roman Culture</em>, 253-279. Hoboken.</li>
      <li><strong>(OPTIONAL)</strong> Read: Jonathan Walters (1997), “Invading the Roman Body: Manliness and Impenetrability in Roman Thought,” in <em>Roman Sexualities</em>, edited by Judith P. Hallett and Marilyn B. Skinner, 29-43 (Princeton).</li>
    </ul>

    <hr>

    <h4 id="week-02" class="text-center">Week 2<br>The Foundations of Rome: Rhea Silvia, Larentia, and the Sabine Women</h4>

    <h5>Tuesday, September 8</h5>

    <ul>
      <li>Submit <a href="#">Livy fact sheet</a>.</li>
      <li>Translate: Livy 1.4; 1.9.8-16.</li>
      <li>Read (in translation): Livy 1.1-9.</li>
      <li>Read: Jo-Marie Claassen (1998), “The Familiar Other: The Pivotal Role of Women in Livy’s Narrative of Political Development in Early Rome,” <em>Acta Classica</em> 41: 71-103.</li>
    </ul>

    <h5>Thursday, September 10</h5>

    <ul>
      <li>Translate: Livy 1.11.5-9; 1.13.</li>
      <li>Read (in translation): Livy 1.10-13.</li>
      <li>Read: Sara L. Hales and Arum Park (2018), “Blog: Teaching Classics in the Age of #MeToo,” <em>Society for Classical Studies Blog</em>.</li>
    </ul>

    <hr>

    <h4 id="week-03" class="text-center">Week 3</h4>

    <h5>Monday, September 14</h5>
    <h5>Wednesday, September 16</h5>
    <h5>Friday, September 18</h5>

    <hr>

    <h4 id="week-04" class="text-center">Week 4</h4>

    <h5>Monday, September 21</h5>
    <h5>Wednesday, September 23</h5>
    <h5>Friday, September 25</h5>

    <hr>

    <h4 id="week-05" class="text-center">Week 5</h4>

    <h5>Monday, September 28</h5>
    <h5>Wednesday, September 16</h5>
    <p>No class!</p>

    <h5>Friday, October 2</h5>

    <hr>

    <h4 id="week-06" class="text-center">Week 6</h4>

    <h5>Monday, October 5</h5>
    <h5>Wednesday, October 7</h5>
    <h5>Friday, October 9</h5>

    <hr>

    <h4 id="week-07" class="text-center">Week 7</h4>

    <h5>Monday, October 12</h5>
    <h5>Wednesday, October 14</h5>
    <h5>Friday, October 16</h5>

    <hr>

    <h4 id="week-08" class="text-center">Week 8</h4>

    <h5>Monday, October 19</h5>
    <h5>Wednesday, October 21</h5>
    <h5>Friday, October 23</h5>

    <hr>

    <h4 id="week-09" class="text-center">Week 9</h4>

    <h5>Monday, October 26</h5>
    <h5>Wednesday, October 28</h5>
    <h5>Friday, October 30</h5>

    <hr>

    <h4 id="week-10" class="text-center">Week 10</h4>

    <h5>Monday, November 2</h5>
    <h5>Wednesday, November 4</h5>
    <h5>Friday, November 6</h5>

    <hr>

    <h4 id="week-11" class="text-center">Week 11</h4>

    <h5>Monday, November 9</h5>
    <h5>Wednesday, November 11</h5>
    <h5>Friday, November 13</h5>

    <hr>

    <h4 id="week-12" class="text-center">Week 12</h4>

    <h5>Monday, November 16</h5>
    <h5>Wednesday, November 18</h5>
    <h5>Friday, November 20</h5>

    <hr>

    <h4 class='text-center'>Thanksgiving Break<br>11/21 - 11/29</h4>

    <hr>

    <h4 id="week-13" class="text-center">Week 13</h4>

    <h5>Monday, November 30</h5>
    <h5>Wednesday, December 2</h5>
    <h5>Friday, December 4</h5>

    <hr>

    <h4 id="week-14" class="text-center">Week 14</h4>

    <h5>Monday, December 7</h5>
    <h5>Wednesday, December 9</h5>

    <hr>

    <h4 class="text-center">Study Period<br>12/10 - 12/13</h4>

    <hr>

    <h4 class="text-center">Exam Period<br>12/14 - 12/18</h4>

    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}



{% endblock %}