{% extends 'latn399/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-3">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#week-01">Week 1 (9/1, 9/3)</a>
        <a class="nav-link" href="#week-02">Week 2 (9/8, 9/10)</a>
        <a class="nav-link" href="#week-03">Week 3 (9/15, 9/17)</a>
        <a class="nav-link" href="#week-04">Week 4 (9/22, 9/24)</a>
        <a class="nav-link" href="#week-05">Week 5 (9/29, 10/1)</a>
        <a class="nav-link" href="#week-06">Week 6 (10/6, 10/8)</a>
        <a class="nav-link" href="#week-07">Week 7 (10/13, 10/15)</a>
        <a class="nav-link" href="#week-08">Week 8 (10/20, 10/22)</a>
        <a class="nav-link" href="#week-09">Week 9 (10/27, 10/29)</a>
        <a class="nav-link" href="#week-10">Week 10 (11/5)</a>
        <a class="nav-link" href="#week-11">Week 11 (11/10, 11/12)</a>
        <a class="nav-link" href="#week-12">Week 12 (11/17, 11/19)</a>
        <a class="nav-link" href="#week-13">Week 13 (12/1, 12/3)</a>
        <a class="nav-link" href="#week-14">Week 14 (12/8)</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Week Selection
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#week-01">Week 1 (9/1, 9/3)</a>
            <a class="dropdown-item" href="#week-02">Week 2 (9/8, 9/10)</a>
            <a class="dropdown-item" href="#week-03">Week 3 (9/15, 9/17)</a>
            <a class="dropdown-item" href="#week-04">Week 4 (9/22, 9/24)</a>
            <a class="dropdown-item" href="#week-05">Week 5 (9/29, 10/1)</a>
            <a class="dropdown-item" href="#week-06">Week 6 (10/6, 10/8)</a>
            <a class="dropdown-item" href="#week-07">Week 7 (10/13, 10/15)</a>
            <a class="dropdown-item" href="#week-08">Week 8 (10/20, 10/22)</a>
            <a class="dropdown-item" href="#week-09">Week 9 (10/27, 10/29)</a>
            <a class="dropdown-item" href="#week-10">Week 10 (11/5)</a>
            <a class="dropdown-item" href="#week-11">Week 11 (11/10, 11/12)</a>
            <a class="dropdown-item" href="#week-12">Week 12 (11/17, 11/19)</a>
            <a class="dropdown-item" href="#week-13">Week 13 (12/1, 12/3)</a>
            <a class="dropdown-item" href="#week-14">Week 14 (12/8)</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if not x %}
  </div> <!-- row col nav end for not-mobile -->
  {% else %}
  <hr>
  {% endif %}

  {% if not x %}
  <div class="col-9 border-left px-5">
    {% endif %}

    <h4 class="text-center">General Note</h4>

    <p>For any given class period, you will be expected to prepare a Latin text. Please note that “prepare” does NOT mean “write out a translation” -- in fact, you are expressly forbidden from writing out a translation to bring to class. “Prepare” means to make grammatical notes (identify person, number, tense, voice, and mood of verbs; gender, case, and number of nouns, adjectives, and participles; etc.), mark your Latin text with syntactic and structural aides (parentheses to sequester clauses or phrases, arrows to indicate possession or modification, underlines, circles, etc.), and note down unfamiliar vocab or conjugations or declensions. Writing out a translation means that you’re not actually doing the work of understanding how the Latin works, which is infinitely more important than coming up with a “perfect” translation.</p>

    <hr>

    <h4 id="week-01" class="text-center">Week 1<br>Introduction</h4>

    <h5>Tuesday, September 1</h5>
    <p>Introduction: Syllabus, Course Website, Class Format</p>

    <h5>Thursday, September 3</h5>
    <ul>
      <li>Read: Kirk Ormand (2018), “Introduction,” in <em>Controlling Desires: Sexuality in Ancient Greece and Rome</em>, Revised Edition, 1-24 (Austin).</li>
      <li>Read: Kirk Ormand (2018), “Rome and Roman Sex,” in <em>Controlling Desires: Sexuality in Ancient Greece and Rome</em>, Revised Edition, 182-201 (Austin).</li>
      <li>Read: Marilyn B. Skinner (2013), “Early Rome: A Tale of Three Cultures,” in <em>Sexuality in Greek and Roman Culture</em>, 253-279. Hoboken.</li>
      <li><strong>(OPTIONAL)</strong> Read: Jonathan Walters (1997), “Invading the Roman Body: Manliness and Impenetrability in Roman Thought,” in <em>Roman Sexualities</em>, edited by Judith P. Hallett and Marilyn B. Skinner, 29-43 (Princeton).</li>
    </ul>

    <hr>

    <h4 id="week-02" class="text-center">Week 2<br>The Foundations of Rome: Rhea Silvia, Larentia, and the Sabine Women</h4>

    <h5>Tuesday, September 8</h5>

    <ul>
      <li>Submit: <a href="#">Livy fact sheet</a>.</li>
      <li>Translate: Livy 1.4; 1.9.8-16.</li>
      <li>Read (in translation): Livy 1.1-9.</li>
      <li>Read: Jo-Marie Claassen (1998), “The Familiar Other: The Pivotal Role of Women in Livy’s Narrative of Political Development in Early Rome,” <em>Acta Classica</em> 41: 71-103.</li>
    </ul>

    <h5>Thursday, September 10</h5>

    <ul>
      <li>Translate: Livy 1.11.5-9; 1.13.</li>
      <li>Read (in translation): Livy 1.10-13.</li>
      <li>Read: Sara L. Hales and Arum Park (2018), “Blog: Teaching Classics in the Age of #MeToo,” <em>Society for Classical Studies Blog</em>.</li>
    </ul>

    <hr>

    <h4 id="week-03" class="text-center">Week 3<br>Lucretia and the Fall of the Roman Monarchy</h4>

    <h5>Tuesday, September 15</h5>

    <ul>
      <li>Translate: Livy 1.57-58.</li>
      <li>Read: S.R. Joshel (2002), “The Body Female and the Body Politic: Livy’s Lucretia and Verginia,” in <em>Sexuality and Gender in the Classical World: Readings and Sources</em>, edited by Laura McClure, 163-190 (Malden (MA) and Oxford).</li>
    </ul>

    <h5>Thursday, September 17</h5>

    <ul>
      <li>Translate: Livy 1.59-60.</li>
      <li>Read: Joanna Kenty (2017), “Avenging Lucretia: From Rape to Revolution,” <em>Eidolon</em>.</li>
    </ul>

    <hr>

    <h4 id="week-04" class="text-center">Week 4<br>Poetic Reception of Lucretia in Ovid's <em>Fasti</em></h4>

    <h5>Tuesday, September 22</h5>
    <ul>
      <li>Submit: <a href="#">Ovid Fact Sheet</a></li>
      <li>Translate: Ovid <em>Fasti</em> 2.721-784.</li>
      <li>Read: Carole Newlands (1995), “The Silence of Lucretia,” in <em>Playing with Time: Ovid and the</em> Fasti, 146-174 (Ithaca).</li>
    </ul>

    <h5>Thursday, September 24</h5>
    <ul>
      <li>Translate: Ovid <em>Fasti</em> 2.785-856.
      <li>Read: Angeline Chiu (2016), “(Up)Setting Examples: Vying with Livy,” in <em>Ovid’s Women of the Year: Narratives of Roman Identity in the</em> Fasti, 19-20 and 50-62 (Ann Arbor).</li>
    </ul>

    <hr>

    <h4 id="week-05" class="text-center">Week 5<br>Roman "Comedy": Rape and Patriarchy in Terence's <em>Hecyra</em></h4>

    <h5>Tuesday, September 29</h5>
    <ul>
      <li>Submit: <a href="#">Roman Comedy Fact Sheet</a></li>
      <li>Read: Brown’s introduction to and explanation of the plot of Hecyra (54-58) (a <em>liber personalis</em> entry is not required for this one assignment)</li>
      <li>Translate: Terence <em>Hecyra</em> 816-840.</li>
      <li>Read: Tara Mulder (2019), “Female Trouble in Terence’s Hecyra: Rape-Pregnancy Plots and the Absence of Abortion in Roman Comedy.” <em>Helios</em> 48.1: 35-56. <strong>CW</strong>: abortion</li>
      <li>Optional: full play in English (Peter Brown translation, in Drive folder)</li>
    </ul>

    <h5>Thursday, October 1</h5>
    <ul>
      <li>Translate: Terence <em>Hecyra</em> 841-880.
      <li>Read: Niall Slater (1988), “The Fictions of Patriarchy in Terence’s <em>Hecyra</em>.” <em>CW</em> 81.4: 249-260.</li>
      <li><strong>(OPTIONAL)</strong> Read: Z.M. Packman (1993), “Call It Rape: A Motif in Roman Comedy and its Suppression in English-Speaking Publications.” <em>Helios</em> 20: 42-55. <strong>CW:</strong> rape</li>
    </ul>

    <hr>

    <h4 id="week-06" class="text-center">Week 6<br>Catullus and the Redefinition of <em>Virtus</em></h4>

    <h5>Tuesday, October 6</h5>
    <ul>
      <li>Submit: <a href="#">Catullus Fact Sheet</a></li>
      <li>Translate: Catullus 5, 7, 8, 11, 50, 51, 58, 70, 76, 79, 83, 85, 92, 109 (Lesbia)</li>
      <li>Read: Elizabeth Manwell (2007), “Gender and Masculinity,” in <em>A Companion to Catullus</em>, edited by Marilyn B. Skinner, 111-128 (Malden (MA) and Oxford).</li>
    </ul>

    <h5>Thursday, October 8</h5>
    <ul>
      <li>Translate: Catullus 16, 29, 57, 94, 105, 114, 115 (masculinity and Mamurra)</li>
      <li>Read: David Konstan (2000), “<a href="https://diotima-doctafemina.org/essays/self-sex-and-empire-in-catullus-the-construction-of-a-decentered-identity/">Self, Sex, and Empire in Catullus: The Construction of a Decentered Identity.</a>” <em>Diotima</em>.</li>
    </ul>

    <hr>

    <h4 id="week-07" class="text-center">Week 7<br>Subverting Elegiac Subversion:<br>Tibullus and Marathus, Sulpicia and Cerinthus</h4>

    <h5>Tuesday, October 13</h5>
    <ul>
      <li>Submit: <a href="#">Elegy Fact Sheet</a></li>
      <li>Translate: Tibullus 1.4 (Putnam translation: starts p. 47)</li>
      <li>Read: Konstantinos P. Nikoloutsos (2007), “Beyond Sex: The Poetics and Politics of Pederasty in Tibullus 1.4.” <em>Phoenix</em> 61.1-2: 55-82.</li>
    </ul>

    <h5>Thursday, October 15</h5>
    <ul>
      <li>Translate Sulpicia 1-6.</li>
      <li>Read: Alison Keith (2006), “Critical Trends in Interpreting Sulpicia,” <em>CW</em> 100.1: 3-10.</li>
    </ul>

    <hr>

    <h4 id="week-08" class="text-center">Week 8<br>Inscriptions: Marginalized Voices</h4>

    <h5>Tuesday, October 20</h5>
    <ul>
      <li>Submit: <a href="#">Epigraphy Fact Sheet</a></li>
      <li>Translate: CIL 4.5296 (and ?????).</li>
      <li>Read: Kristina Milnor (2014), “Gender and Genre: The Case of <em>CIL</em> 4. 5296,” in <em>Graffiti and the Literary Landscape in Roman Pompeii</em>, 191-232. Oxford.</li>
    </ul>

    <h5>Thursday, October 22</h5>
    <ul>
      <li>Translate: rest of inscriptions packet.</li>
      <li>Read: Deborah Kamen and Sarah Levin-Richardson (2015), “Lusty Ladies in the Roman Imaginary,” in <em>Ancient Sex</em>, edited by Ruby Blondell and Kirk Ormand, 231-252 (Columbus).</li>
    </ul>

    <hr>

    <h4 id="week-09" class="text-center">Week 9<br>Cicero, Clodia, and Gender in the Legal Courts</h4>

    <h5>Tuesday, October 27</h5>
    <ul>
      <li>Submit: <a href="#">Cicero Fact Sheet</a></li>
      <li>Translate: Cicero <em>Pro Caelio</em> 33-34.</li>
      <li>Read: Anne Leen (2001), “<a href="https://holycross.idm.oclc.org/login?auth=cas&url=https://www-jstor-org.holycross.idm.oclc.org/stable/3298121"><em>Clodia Oppugnatrix</em>: The <em>Domus</em> Motif in Cicero’s <em>Pro Caelio</em>.</a>” <em>CJ</em> 96.2: 141-162.</li>
    </ul>

    <h5>Thursday, October 29</h5>
    <ul>
      <li>Translate: Cicero <em>Pro Caelio</em> 35-36.
      <li><strong>MCCOY???</strong> // Read: Mary Deminion (2020), “Manly and Monstrous Women: (De-)Constructing Gender in Roman Oratory,” in <em>Exploring Gender Diversity in the Ancient World</em>, edited by Allison Surtees and Jennifer Dyer, 197-208 (Edinburgh).</li>
    </ul>

    <hr>

    <h4 id="week-10" class="text-center">Week 10<br>Catch Up and Breathe</h4>

    <h5>Tuesday, November 3</h5>
    <p>No class!</p>

    <h5>Thursday, November 5</h5>
    <p>TBD</p>

    <hr>

    <h4 id="week-11" class="text-center">Week 11<br>Iphis, Proto-Lesbian and/or Proto-Trans Figure</h4>

    <h5>Tuesday, November 10</h5>
    <ul>
      <li>Submit: <a href="#"><em>Metamorphoses</em> Fact Sheet</a></li>
      <li>Translate: Ovid <em>Metamorphoses</em> 9.666-725.</li>
      <li>Read: Lisa Franklin (2018), “<a href="https://eidolon.pub/life-as-an-iphis-fbdecf92fbe1">Life as an Iphis: Ancient and Modern Perspectives on Your Hopeless Gay Crush.</a>” <em>Eidolon</em>.</li>
      <li>Read: Sasha Barish (2018), “<a href="https://eidolon.pub/iphis-hair-io-s-reflection-and-the-gender-dysphoria-of-the-metamorphoses-4b75c1ba38d7">Iphis’ Hair, Io’s Reflection, and the Gender Dysphoria of the <em>Metamorphoses</em>.</a>” <em>Eidolon</em>.</li>
    </ul>

    <h5>Thursday, November 12</h5>
    <ul>
      <li>Translate: Ovid <em>Metamorphoses</em> 9.726-797.</li>
      <li>Read: Kirk Ormand (2005), “Impossible Lesbians in Ovid’s <em>Metamorphoses</em>.” In <em>Gendered Dynamics in Latin Love Poetry</em>, edited by Ronnie Ancona and Ellen Greene, 79-110 (Baltimore).</li>
      <li><strong>(OPTIONAL)</strong> Read: Rebecca Begum-Lees (2020), “Que(e)r(y)ing Iphis’ Transformation in Ovid’s <em>Metamorphoses</em>," in <em>Exploring Gender Diversity in the Ancient World</em>, edited by Allison Surtees and Jennifer Dyer, 106-117. Edinburgh.</li>
    </ul>

    <hr>

    <h4 id="week-12" class="text-center">Week 12<br>Ovid: Proto-Feminist or Extreme Sexist?</h4>

    <h5>Tuesday, November 17</h5>
    <ul>
      <li>Translate: Ovid <em>Ars Amatoria</em> 1.67-134.</li>
      <li>Read: Donna Zuckerberg (2015), “<a href="https://eidolon.pub/bang-rome-2214f4a3d5c5">Bang Rome: Ovid and the Original Sin of Pickup Artistry.</a>” <em>Eidolon</em>.</li>
    </ul>

    <h5>Thursday, November 19</h5>
    <ul>
      <li>Translate: Ovid <em>Metamorphoses</em> 6.511-570.</li>
      <li>Read (in translation): Ovid <em>Met.</em> 6.424-674. <strong>CW</strong>: rape</li>
      <li>Read: Daniel Libatique (2020, forthcoming), “Ovid in the #MeToo Era.” <em>Helios</em>.</li>
      <li><strong>(OPTIONAL)</strong> Read: Amy Richlin (2014), “Reading Ovid’s Rapes,” in <em>Arguments with Silence: Writing the History of Roman Women</em>, 130-165 (Ann Arbor).</li>
    </ul>

    <hr>

    <h4 class='text-center'>Thanksgiving Break<br>11/21 - 11/29</h4>

    <hr>

    <h4 id="week-13" class="text-center">Week 13<br>Boudica the Warrior Queen</h4>

    <h5>Tuesday, December 1</h5>
    <ul>
      <li>Submit: <a href="#">Tacitus Fact Sheet</a></li>
      <li>Translate: Tacitus <em>Annals</em> 14.31</li>
      <li>Read: Caitlin Gillespie (2018), “Family and Freedom,” In <em>Boudica: Warrior Woman of Roman Britain</em>, 55-68 (Oxford and New York).</li>
    </ul>

    <h5>Thursday, December 3</h5>
    <ul>
      <li>Translate: Tacitus <em>Annals</em> 14.35, end of 37</li>
      <li>Read: Caitlin Gillespie (2018), “Dux Femina,” in <em>Boudica: Warrior Woman of Roman Britain</em>, 91-104 (Oxford and New York).</li>
    </ul>

    <hr>

    <h4 id="week-14" class="text-center">Week 14<br>In Conclusion</h4>

    <h5>Tuesday, December 8</h5>
    <p>TBD</p>

    <hr>

    <h4 class="text-center">Study Period<br>12/10 - 12/13</h4>

    <hr>

    <h4 class="text-center">Exam Period<br>12/14 - 12/18</h4>

    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}



{% endblock %}