{% extends 'latn399/page.html' %}
{% load static %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-3">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#week-01">Week 1 (9/1, 9/3)</a>
        <a class="nav-link" href="#week-02">Week 2 (9/8, 9/10)</a>
        <a class="nav-link" href="#week-03">Week 3 (9/15, 9/17)</a>
        <a class="nav-link" href="#week-04">Week 4 (9/22, 9/24)</a>
        <a class="nav-link" href="#week-05">Week 5 (9/29, 10/1)</a>
        <a class="nav-link" href="#week-06">Week 6 (10/6, 10/8)</a>
        <a class="nav-link" href="#week-07">Week 7 (10/13, 10/15)</a>
        <a class="nav-link" href="#week-08">Week 8 (10/20, 10/22)</a>
        <a class="nav-link" href="#week-09">Week 9 (10/27, 10/29)</a>
        <a class="nav-link" href="#week-10">Week 10 (11/5)</a>
        <a class="nav-link" href="#week-11">Week 11 (11/10, 11/12)</a>
        <a class="nav-link" href="#week-12">Week 12 (11/17, 11/19)</a>
        <a class="nav-link" href="#week-13">Week 13 (12/1, 12/3)</a>
        <a class="nav-link" href="#week-14">Week 14 (12/8)</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Week Selection
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#week-01">Week 1 (9/1, 9/3)</a>
            <a class="dropdown-item" href="#week-02">Week 2 (9/8, 9/10)</a>
            <a class="dropdown-item" href="#week-03">Week 3 (9/15, 9/17)</a>
            <a class="dropdown-item" href="#week-04">Week 4 (9/22, 9/24)</a>
            <a class="dropdown-item" href="#week-05">Week 5 (9/29, 10/1)</a>
            <a class="dropdown-item" href="#week-06">Week 6 (10/6, 10/8)</a>
            <a class="dropdown-item" href="#week-07">Week 7 (10/13, 10/15)</a>
            <a class="dropdown-item" href="#week-08">Week 8 (10/20, 10/22)</a>
            <a class="dropdown-item" href="#week-09">Week 9 (10/27, 10/29)</a>
            <a class="dropdown-item" href="#week-10">Week 10 (11/5)</a>
            <a class="dropdown-item" href="#week-11">Week 11 (11/10, 11/12)</a>
            <a class="dropdown-item" href="#week-12">Week 12 (11/17, 11/19)</a>
            <a class="dropdown-item" href="#week-13">Week 13 (12/1, 12/3)</a>
            <a class="dropdown-item" href="#week-14">Week 14 (12/8)</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if not x %}
  </div> <!-- row col nav end for not-mobile -->
  {% else %}
  <hr>
  {% endif %}

  {% if not x %}
  <div class="col-9 border-left px-5">
    {% endif %}

    <h4 class="text-center">General Note</h4>

    <p>For any given class period, you will be expected to prepare a Latin text. Please note that “prepare” does NOT mean “write out a translation” -- in fact, you are expressly forbidden from writing out a translation to bring to class. “Prepare” means to make grammatical notes (identify person, number, tense, voice, and mood of verbs; gender, case, and number of nouns, adjectives, and participles; etc.), mark your Latin text with syntactic and structural aides (parentheses to sequester clauses or phrases, arrows to indicate possession or modification, underlines, circles, etc.), and note down unfamiliar vocab or conjugations or declensions. Writing out a translation means that you’re not actually doing the work of understanding how the Latin works, which is infinitely more important than coming up with a “perfect” translation.</p>

    <hr>

    <h4 id="week-01" class="text-center">Week 1<br>Introduction</h4>

    <h5>Tuesday, September 1</h5>
    <p>Introduction: Syllabus, Course Website, Class Format</p>

    <h5>Thursday, September 3</h5>
    <ul>
      <li>Read the <a href="{% url 'latn399:policies' %}">course policies</a>, <a href="{% url 'latn399:grading' %}">grading scheme</a>, and <a href="{% url 'latn399:liber' %}"><em>liber personalis</em> assignment description</a></li>
      <li>Bring at least one question about the policies, grading contract, or <em>liber</em> project to class</li>
      <li>Fill out this <a href="https://forms.gle/Ax2ZqAtcxDyucdJh7">student information form</a></li>
      <li><strong>(LP)</strong> Kirk Ormand (2018), “<a href="https://drive.google.com/file/d/16249NMUwbzUelbYLMISnNtC5gT7ZDbW3/view?usp=sharing">Introduction</a>,” in <em>Controlling Desires: Sexuality in Ancient Greece and Rome</em>, Revised Edition, 1-24 (Austin).</li>
      <li><strong>(LP)</strong> Kirk Ormand (2018), “<a href="https://drive.google.com/file/d/167CkoPwQ31NNVSNLsMomMfCaI2NK5_Tw/view?usp=sharing">Rome and Roman Sex</a>,” in <em>Controlling Desires: Sexuality in Ancient Greece and Rome</em>, Revised Edition, 182-201 (Austin).</li>
    </ul>

    <h5>Optional Readings</h5>
    <ul>
      <li>Jonathan Walters (1997), “<a href="https://drive.google.com/file/d/15z3Gid3XbTiO-BwEiIk4fRGdecdPSd3h/view?usp=sharing">Invading the Roman Body: Manliness and Impenetrability in Roman Thought</a>,” in <em>Roman Sexualities</em>, edited by Judith P. Hallett and Marilyn B. Skinner, 29-43 (Princeton).</li>
    </ul>

    <hr>

    <h4 id="week-02" class="text-center">Week 2<br>The Foundations of Rome: Rhea Silvia, Larentia, Tarpeia, and the Sabine Women</h4>

    <h5 id="09-08-2020">Tuesday, September 8</h5>

    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/1TjOL-M_ykvhGeSCKhSNVFFpc5F7BMdt3LbiyYohNQ_g/edit?usp=sharing">Livy fact sheet</a>.
        <ul class="my-0">
          <li><a href="https://drive.google.com/file/d/16P-M-I6_y1FboTDJyl8P_MhJg9nzSjis/view?usp=sharing">Warrior 2006 intro</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Translate: Livy 1.4; 1.9.8-10.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0199%3Abook%3D1%3Achapter%3D4">Perseus text</li>
          <li><a href="https://drive.google.com/file/d/16cGkejaQCx7h5Rl81IHMxHpDTNVFltP4/view?usp=sharing">Commentary</a> (Gould and Whiteley 1939)</li>
          <li><a href="{% static 'latn399/week-02/09-08-2020.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17HaNkyXhtA0501n4XVShse3NsYBh5ugj/view?usp=sharing">Gould and Whiteley 1939 text</a></li>
        </ul>
      </li>
      <li>Read (in translation): <a href="https://drive.google.com/file/d/16XXnr-GJa3fuBxRtRbawWbxyAHbzFKLS/view?usp=sharing">Livy 1.praefatio, 1.1-9</a>. (no <em>liber</em> entry needed for this assignment)</li>
    </ul>

    <h5 id="09-10-2020">Thursday, September 10</h5>

    <ul>
      <li><strong>(LP)</strong> Translate: Livy 1.9.11-16; 1.13.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Liv.+1+9&fromdoc=Perseus%3Atext%3A1999.02.0199">Perseus text</li>
          <li><a href="https://drive.google.com/file/d/16cPA4rBhrRcvnltd9fd7E3-SLhhKI7so/view?usp=sharing">Commentary</a> (Gould and Whiteley 1939)</li>
          <li><a href="{% static 'latn399/week-02/09-10-2020.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17HaNkyXhtA0501n4XVShse3NsYBh5ugj/view?usp=sharing">Gould and Whiteley 1939 text</a></li>
        </ul>
      </li>
      <li>Read (in translation): <a href="https://drive.google.com/file/d/16XXnr-GJa3fuBxRtRbawWbxyAHbzFKLS/view?usp=sharing">Livy 1.10-13</a>. (no <em>liber</em> entry needed for this assignment)</li>
      <li><strong>(LP)</strong> Sara L. Hales and Arum Park (2018), “<a href="https://classicalstudies.org/scs-blog/sara-l-hales/blog-teaching-classics-age-metoo">Blog: Teaching Classics in the Age of #MeToo</a>,” <em>Society for Classical Studies Blog</em>.</li>
    </ul>

    <h5>Optional Readings</h5>
    <ul>
      <li>Jo-Marie Claassen (1998), “<a href="https://drive.google.com/file/d/13tQdF0ZVwoWwK5byx5kOxA8gw-BS-vPp/view?usp=sharing">The Familiar Other: The Pivotal Role of Women in Livy’s Narrative of Political Development in Early Rome</a>,” <em>Acta Classica</em> 41: 71-103.</li>
    </ul>

    <hr>

    <h4 id="week-03" class="text-center">Week 3<br>Lucretia and the Fall of the Roman Monarchy</h4>

    <h5 id="09-15-20">Tuesday, September 15</h5>

    <ul>
      <li>Read (in translation): <a href="https://drive.google.com/file/d/17KN2_J6QqjhpSilDOFCMGS8S5MRXyDGp/view?usp=sharing">Livy 1.57-60</a>.</li>
      <li><strong>(LP)</strong> Translate: Livy 1.57.10 (starting midway through, at <em>ibi Sex. Tarquinium...</em>) through and including 1.58.5 (ending at <em>...rem atrocem incidisse</em>).
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0199%3Abook%3D1%3Achapter%3D57">Perseus text</a> (scroll to bottom of passage)</li>
          <li><a href="https://drive.google.com/file/d/16iw_jcuE5kpgIenFTMBzYNN3y1TfcPuV/view?usp=sharing">Commentary</a> (Gould and Whiteley 1939)</li>
          <li><a href="{% static 'latn399/week-03/09-15-2020.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17IHZIoUXgrn3PIbB7om6SCAZUIhM-xMH/view?usp=sharing">Gould and Whiteley 1939 text</a></li>
        </ul>
      </li>

    </ul>

    <h5 id="09-17-20">Thursday, September 17</h5>

    <ul>
      <li><strong>(LP)</strong> Translate: Livy 1.58.6 - 1.59.2.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0199%3Abook%3D1%3Achapter%3D58">Perseus text</a> (scroll midway down)</li>
          <li><a href="https://drive.google.com/file/d/16iw_jcuE5kpgIenFTMBzYNN3y1TfcPuV/view?usp=sharing">Commentary</a> (Gould and Whiteley 1939)</li>
          <li><a href="{% static 'latn399/week-03/09-17-2020.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17IHZIoUXgrn3PIbB7om6SCAZUIhM-xMH/view?usp=sharing">Gould and Whiteley 1939 text</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> S.R. Joshel (2002), “<a href="https://drive.google.com/file/d/14xMvEPJov4OgfjzISaHnlmtWjV5hVZYg/view?usp=sharing">The Body Female and the Body Politic: Livy’s Lucretia and Verginia</a>,” in <em>Sexuality and Gender in the Classical World: Readings and Sources</em>, edited by Laura McClure, 163-190 (Malden (MA) and Oxford).</li>
    </ul>

    <hr>

    <h4 id="week-04" class="text-center">Week 4<br>Poetic Reception of Lucretia in Ovid's <em>Fasti</em></h4>

    <h5 id='09-22-20'>Tuesday, September 22</h5>
    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/1LOGy02JDNBbtHtE1XF3nUskMB_lm3inXqTu2-avZMsI/edit?usp=sharing">Ovid Fact Sheet</a>
        <ul>
          <li><a href="https://drive.google.com/file/d/17DysSF1Im_ezw83pWy0U9n-e3hiQDuRj/view?usp=sharing">Miller 1985 intro</a></li>
        </ul>
      </li>

      <li><strong>(LP)</strong> Translate: Ovid <em>Fasti</em> 2.721-784.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A2008.01.0547%3Abook%3D2">Perseus text</a> (scroll to line 721)</li>
          <li><a href="https://drive.google.com/file/d/16x7tZ42KRhz4NV1UGjiQBRApd_yN3ERc/view?usp=sharing">Commentary</a> (Miller 1985)</li>
          <li><a href="{% static 'latn399/week-04/09-22-2020.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17GfwL7CESbXuuR73RBcWR4vfrCe0LOpS/view?usp=sharing">Miller 1985 text</a></li>
          <li><a href="https://www.poetryintranslation.com/PITBR/Latin/OvidFastiBkTwo.php#anchor_Toc69367697">Translation</a> (ctrl/cmd-f for "Meanwhile the Roman standards ringed Ardea")</li>
        </ul>
      </li>
    </ul>

    <h5 id='09-24-20'>Thursday, September 24</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Ovid <em>Fasti</em> 2.785-856.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A2008.01.0547%3Abook%3D2">Perseus text</a> (scroll to line 785)</li>
          <li><a href="https://drive.google.com/file/d/16x7tZ42KRhz4NV1UGjiQBRApd_yN3ERc/view?usp=sharing">Commentary</a> (Miller 1985)</li>
          <li><a href="{% static 'latn399/week-04/09-24-2020.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17GfwL7CESbXuuR73RBcWR4vfrCe0LOpS/view?usp=sharing">Miller 1985 text</a></li>
          <li><a href="https://www.poetryintranslation.com/PITBR/Latin/OvidFastiBkTwo.php#anchor_Toc69367697">Translation</a> (ctrl/cmd-f for "Collatia’s bronze gate received the young man")</li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Carole Newlands (1995), “<a href="https://drive.google.com/file/d/150UyM-6gF3hvjVvfe6rDS8iHkH9lh2E4/view?usp=sharing">The Silence of Lucretia</a>,” in <em>Playing with Time: Ovid and the</em> Fasti, 146-174 (Ithaca).</li>
    </ul>

    <hr>

    <h4 id="week-05" class="text-center">Week 5<br>Ovid: Proto-Feminist or Extreme Sexist?</h4>

    <h5 id="09-29-20">Tuesday, September 29</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Ovid <em>Ars Amatoria</em> 1.67-134.
        <ul>
          <li><strong>Targeted assignment</strong>: 1.89-134 (if you are pressed for time)</li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0068%3Atext%3DArs">Perseus text</a> (scroll down to line 67)</li>
          <li><a href="https://drive.google.com/file/d/1C9123V8BiN6ytclWimWxyUXL0waHUY22/view?usp=sharing">Commentary</a> (Hollis 1977)</li>
          <li><a href="{% static 'latn399/week-05/09-29-20.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/1C3AHN-u_vGN-wGiyL-gur0LnbzJQgBNa/view?usp=sharing">Hollis 1977 text</a></li>
          <li><a href="https://www.poetryintranslation.com/PITBR/Latin/ArtofLoveBkI.php#anchor_Toc521049259">Translation</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Donna Zuckerberg (2015), “<a href="https://eidolon.pub/bang-rome-2214f4a3d5c5">Bang Rome: Ovid and the Original Sin of Pickup Artistry.</a>” <em>Eidolon</em>.</li>
    </ul>

    <h5 id="10-01-20">Thursday, October 1</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Ovid <em>Metamorphoses</em> 6.511-570.
        <ul>
          <li><strong>CW</strong>: rape</li>
          <li><strong>Targed assignment</strong>: 6.527-562 (if you are pressed for time)</li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0029%3Abook%3D6%3Acard%3D504">Perseus text</a> (scroll down to line 511)</li>
          <li><a href="https://drive.google.com/file/d/1CSkrujbBJZ4dSDJIxvHGj2asu5W-lupO/view?usp=sharing">Commentary</a> (Anderson 1972)</li>
          <li><a href="{% static 'latn399/week-05/10-01-20.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/1CSaKt11wOZEd4yyvb6hBFN53dPfHs-ni/view?usp=sharing">Anderson 1972 text</a></li>
        </ul>
      </li>
      <li>Read (in translation): <a href="https://drive.google.com/file/d/1CE5c45ury_ub_AmHQdo6ZcUTs68ij1cx/view?usp=sharing">Ovid <em>Met.</em> 6.424-674</a> (translation: Martin 2004).
        <ul>
          <li><strong>CW</strong>: rape</li>
          <li>no <em>liber</em> entry needed for this assignment</li>
          <li><strong>NB</strong>: Martin's line numbers do not match up with the Latin!</li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Daniel Libatique (2020, forthcoming), “<a href="https://drive.google.com/file/d/15qJZWMiVofUSuEgwojA7cMfexAfI9exX/view?usp=sharing">Ovid in the #MeToo Era</a>.” <em>Helios</em>.</li>
    </ul>

    <h5>Optional Readings</h5>
    <ul>
      <li>Amy Richlin (2014), “<a href="https://drive.google.com/file/d/15tG9mt1w5vrqoewMDDVhQWU9soOtiY7i/view?usp=sharing">Reading Ovid’s Rapes</a>,” in <em>Arguments with Silence: Writing the History of Roman Women</em>, 130-165 (Ann Arbor).</li>
    </ul>

    <h5>NOTE: <em>Liber</em> Analysis #1 due on Friday, October 2, at 11:59pm</h5>

    <hr>

    <h4 id="week-06" class="text-center">Week 6<br>Roman "Comedy": Rape and Patriarchy in Terence's <em>Hecyra</em></h4>

    <h5 id="10-06-20">Tuesday, October 6</h5>
    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/1rv1P4p8gqxE7ukGtTlVXo1KXLPH7qNUFR9hPyUxTObs/edit?usp=sharing">Roman Comedy Fact Sheet</a>
        <ul>
          <li><a href="https://drive.google.com/file/d/1779Aoy2pGuWMg5gS6-FTlY5iHXM9fF5c/view?usp=sharing">Goldberg 2013 intro</a></li>
        </ul>
      </li>
      <li>Read: <a href="https://drive.google.com/file/d/17SdTU5N54ZILFgi_yAbakh8WpqfHXftS/view?usp=sharing">Brown’s introduction to and explanation of the plot of Hecyra</a> (no <em>liber</em> entry needed for this assignment)</li>
      <li><strong>(LP)</strong> Translate: Terence <em>Hecyra</em> 816-840.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0090%3Aact%3D5%3Ascene%3D3">Perseus text</a> (begin at 'quantam obtuli adventu meo laetitiam Pamphilo hodie!') (Perseus lines do not match up to commentary, use plain text or Goldberg's text to line up)</li>
          <li><a href="https://drive.google.com/file/d/17BpCo48uYIR0Cc-wwbHvgOBlZdipTZ8N/view?usp=sharing">Commentary</a> (Goldberg 2013)</li>
          <li><a href="{% static 'latn399/week-06/10-06-20.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17AWEoJQec3qKDO7NmC-gKYHRw4Ywxz1j/view?usp=sharing">Goldberg 2013 text</a></li>
          <li><a href="https://drive.google.com/file/d/17VHVZAlnDrFIADEvu9JvOhWfJtJiXC9m/view?usp=sharing">Translation</a> (translation of Latin assignment starts at p. 91)</li>
        </ul>
      </li>
    </ul>

    <h5 id="10-08-20">Thursday, October 8</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Terence <em>Hecyra</em> 841-880.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0090%3Aact%3D5%3Ascene%3D4">Perseus text</a> (Perseus lines do not match up to commentary, use plain text or Goldberg's text to line up)</li>
          <li><a href="https://drive.google.com/file/d/17BpCo48uYIR0Cc-wwbHvgOBlZdipTZ8N/view?usp=sharing">Commentary</a> (Goldberg 2013)</li>
          <li><a href="{% static 'latn399/week-06/10-08-20.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17AWEoJQec3qKDO7NmC-gKYHRw4Ywxz1j/view?usp=sharing">Goldberg 2013 text</a></li>
          <li><a href="https://drive.google.com/file/d/17VHVZAlnDrFIADEvu9JvOhWfJtJiXC9m/view?usp=sharing">Translation</a> (translation of Latin assignment starts at p. 92)</li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Niall Slater (1988), “<a href="https://drive.google.com/file/d/139g_l5Q04SwyshNji_7WeQG5Osbi8_MQ/view?usp=sharing">The Fictions of Patriarchy in Terence’s <em>Hecyra</em></a>.” <em>CW</em> 81.4: 249-260.</li>
    </ul>

    <h5>Optional Readings</h5>
    <ul>
      <li>Z.M. Packman (1993), “<a href="https://drive.google.com/file/d/15MFsSw8qRNyHYMzgj15i-YLkPPTaGTfc/view?usp=sharing">Call It Rape: A Motif in Roman Comedy and its Suppression in English-Speaking Publications</a>.” <em>Helios</em> 20: 42-55. <strong>CW:</strong> rape</li>
    </ul>

    <hr>

    <h4 id="week-07" class="text-center">Week 7<br>Catullus and the Redefinition of <em>Virtus</em></h4>

    <h5 id="10-13-20">Tuesday, October 13</h5>
    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/1Tz8ONA4LAi4-BlcPxoiwZL6L5VRPcjBysO8kk7hYkYU/edit?usp=sharing">Catullus Fact Sheet</a></li>
      <li><strong>(LP)</strong> Translate: Catullus 5, 8, 51, 58, 70, 76, 83, 85, 109 (Lesbia)
        <ul>
          <li><a href="https://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0003%3Apoem%3D1">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/17ZU-6-YN2p98j7a5ED_WkUHgtAKolR58/view?usp=sharing">Garrison 2004</a> (text, commentary)</li>
          <li><a href="{% static 'latn399/week-07/10-13-20.txt' %}">Plain text</a></li>
          <li><a href="https://www.poetryintranslation.com/PITBR/Latin/Catullus.php">Translations</a></li>
        </ul>
      </li>
    </ul>

    <h5 id="10-15-20">Thursday, October 15</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Catullus 16, 29, 57, 80, 94 (masculinity and Mamurra)
        <ul>
          <li><a href="https://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0003%3Apoem%3D1">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/17ZU-6-YN2p98j7a5ED_WkUHgtAKolR58/view?usp=sharing">Garrison 2004</a> (text, commentary)</li>
          <li><a href="{% static 'latn399/week-07/10-15-20.txt' %}">Plain text</a></li>
          <li><a href="https://www.poetryintranslation.com/PITBR/Latin/Catullus.php">Translations</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> David Konstan (2000), “<a href="https://diotima-doctafemina.org/essays/self-sex-and-empire-in-catullus-the-construction-of-a-decentered-identity/">Self, Sex, and Empire in Catullus: The Construction of a Decentered Identity.</a>” <em>Diotima</em>.</li>
    </ul>

    <hr>

    <h4 id="week-08" class="text-center">Week 8<br>Subverting Elegiac Subversion:<br>Tibullus and Sulpicia</h4>

    <h5 id="10-20-20">Tuesday, October 20</h5>
    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/1dylzLD3IrYoDzxaXV7JOIu6p74MWNu07W9IQIvpW0O0/edit?usp=sharing">Elegy Fact Sheet</a>
        <ul>
          <li><a href="https://drive.google.com/file/d/180Nna8uRQuJERv2GzU2hxwa2Ozw6Z3gL/view?usp=sharing">Dennis and Putnam 2012 intro</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Translate: Tibullus 1.1.1-6; 1.2.1-16; 1.10.1-14, 65-68
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A2008.01.0507%3Abook%3D1%3Apoem%3D1">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1HW7TDFMjQ4NaUJJtCUVtE-QjP_OLZbnP/view?usp=sharing">Commentary</a> (Putnam 1973)</li>
          <li><a href="{% static 'latn399/week-08/10-20-20.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/1HO9I1NFBvqt2Dg7WH7QzRUZ2HjGl0O1d/view?usp=sharing">Putnam 1973 text</a></li>
          <li><a href="https://holycross.idm.oclc.org/login?auth=cas&url=https://ebookcentral.proquest.com/lib/holycrosscollege-ebooks/detail.action?docID=881934">Translation (Dennis and Putnam 2012)</a> (their Latin follows English)</li>
        </ul>
      </li>
    </ul>

    <h5 id="10-22-20">Thursday, October 22</h5>
    <ul>
      <li><strong>(LP)</strong> Translate Sulpicia 1-6.
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0070%3Atext%3Dorig">Perseus text</a></li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.02.0070:text=comm">Commentary</a> (Mahoney 2000) (click on "poem" under "View text chunked by" on the left to get full commentary for each poem)</li>
          <li><a href="{% static 'latn399/week-08/10-22-20.txt' %}">Plain text</a></li>
          <li><a href="https://drive.google.com/file/d/17qEofLf0eiU9TruU5hGPhUb2RamkhyZk/view?usp=sharing">Translation (Dennis and Putnam 2012)</a> (their Latin follows English)</li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Alison Keith (2006), “<a href="https://drive.google.com/file/d/15PEBB3wg20g2IUUu_sSPfendjyFjLspm/view?usp=sharing">Critical Trends in Interpreting Sulpicia</a>,” <em>CW</em> 100.1: 3-10.</li>
    </ul>

    <hr>

    <h4 id="week-09" class="text-center">Week 9<br>Inscriptions: Marginalized Voices</h4>

    <h5 id="10-27-20">Tuesday, October 27</h5>
    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/19tx-Iq5Ts1-BKcWT0KsQk8UlMGkyN1Vq4tNL02R_t4s/edit?usp=sharing">Epigraphy Fact Sheet</a></li>
      <li><strong>(LP -- choose at least 1 sentence from longer inscriptions or 2-5 of the one-line inscriptions)</strong> Translate: <a href="https://docs.google.com/document/d/1rg3tg6QxPM9CI4ZkoVADp8-o6e8crmMIXwETV5khXyw/edit?usp=sharing">inscriptions 1-4 in the packet</a>.
        <ul>
          <li><a href="https://holycross.idm.oclc.org/login?auth=cas&url=https://ebookcentral.proquest.com/lib/holycrosscollege-ebooks/detail.action?docID=1643864">Hackett translations</a> (if an inscription has a "Hackett" number, it's translated at that inscription number in this book, pp. 451-502)</li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Kristina Milnor (2014), “<a href="https://drive.google.com/file/d/15TpwhQP3gXosFNzWL1Obm_3A8LAc7HH6/view?usp=sharing">Gender and Genre: The Case of <em>CIL</em> 4. 5296</a>,” in <em>Graffiti and the Literary Landscape in Roman Pompeii</em>, 191-232. Oxford.</li>
    </ul>

    <h5 id="10-29-20">Thursday, October 29</h5>
    <ul>
      <li><strong>(LP, if you didn't make an entry from the assignment for 10/27)</strong> Translate: <a href="https://docs.google.com/document/d/1rg3tg6QxPM9CI4ZkoVADp8-o6e8crmMIXwETV5khXyw/edit?usp=sharing">inscriptions 5-9 in the packet</a>.</li>
      <li><strong>(LP)</strong> Deborah Kamen and Sarah Levin-Richardson (2015), “<a href="https://drive.google.com/file/d/15W_k3wkhqzoSMpz9iX2TR8GTUn011J7n/view?usp=sharing">Lusty Ladies in the Roman Imaginary</a>,” in <em>Ancient Sex</em>, edited by Ruby Blondell and Kirk Ormand, 231-252 (Columbus).</li>
    </ul>

    <hr>

    <h4 id="week-10" class="text-center">Week 10<br>Catch Up and Breathe</h4>

    <h5>Tuesday, November 3</h5>
    <p>No class!</p>

    <h5>Thursday, November 5</h5>
    <p>Super chill vibe session</p>

    <h5>NOTE: <em>Liber</em> Analysis #2 due on Friday, November 6, at 11:59pm</h5>

    <hr>

    <h4 id="week-11" class="text-center">Week 11<br>Cicero, Clodia, and Gender in the Legal Courts</h4>

    <h5 id="11-10-20">Tuesday, November 10</h5>
    <ul>
      <li>Submit: <a href="https://docs.google.com/document/d/1j97nLB45jOmwGM4MfxmBsnyGzyP9cssmUwpWOHCWuH8/edit?usp=sharing">Cicero Fact Sheet</a></li>
      <li>Read in translation: <a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.02.0020:text=Cael.:chapter=14:section=33">Cicero <em>Pro Caelio</em> 33-36</a> (no liber entry)</li>
      <li>Read <a href="https://drive.google.com/file/d/1MNNgOIAeMCyY_7vpaqxqeUtOnkwJsLwR/view?usp=sharing">Englert's intro (pp. 3-6)</a> (no liber entry)</li>
      <li><strong>(LP)</strong> Translate: Cicero <em>Pro Caelio</em> 33-34.
        <ul>
          <li>Targeted assignment: Cic. <em>Cael.</em> 33</li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.02.0010:text=Cael.:chapter=14:section=33">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1MNNgOIAeMCyY_7vpaqxqeUtOnkwJsLwR/view?usp=sharing">Englert 1990 intro, text, commentary</a></li>
        </ul>
      </li>
    </ul>

    <h5 id="11-12-20">Thursday, November 12</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Cicero <em>Pro Caelio</em> 35-36.
        <ul>
          <li>Targeted assignment: Cic. <em>Cael.</em> 35</li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.02.0010:text=Cael.:chapter=14:section=33">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1MNNgOIAeMCyY_7vpaqxqeUtOnkwJsLwR/view?usp=sharing">Englert 1990 intro, text, commentary</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Marsha McCoy (2006), "<a href="https://drive.google.com/file/d/14eQJ1yaMgg66VUSR0Uj2F9_WdewxZGTi/view?usp=sharing">Clodia, Cicero, and Social Order in the Late Roman Republic,</a>", in <em>Prostitutes and Courtesans in the Ancient World</em>, edited by Christopher A. Faraone and Laura K. McClure, 177-185. Madison.</li>
    </ul>

    <h5>Optional Readings</h5>
    <ul>
      <li>Mary Deminion (2020), “<a href="https://drive.google.com/file/d/15cLD8lWr_Je8fjXlPDE_-ybkYcBKTe3F/view?usp=sharing">Manly and Monstrous Women: (De-)Constructing Gender in Roman Oratory</a>,” in <em>Exploring Gender Diversity in the Ancient World</em>, edited by Allison Surtees and Jennifer Dyer, 197-208 (Edinburgh).</li>
      <li>Anne Leen (2001), “<a href="https://holycross.idm.oclc.org/login?auth=cas&url=https://www-jstor-org.holycross.idm.oclc.org/stable/3298121"><em>Clodia Oppugnatrix</em>: The <em>Domus</em> Motif in Cicero’s <em>Pro Caelio</em>.</a>” <em>CJ</em> 96.2: 141-162.</li>
    </ul>

    <hr>

    <h4 id="week-12" class="text-center">Week 12<br>Iphis, Proto-Lesbian and/or Proto-Trans Figure</h4>

    <h5 id="11-17-20">Tuesday, November 17</h5>
    <ul>
      <li>Submit: <a href="#"><em>Metamorphoses</em> Fact Sheet</a></li>
      <li>Read in translation: <a href="https://drive.google.com/file/d/1MeDF-V2jddgyR9a-U2nU0rednSXaNPdn/view?usp=sharing">Ovid <em>Met.</em>9.666-797</a> (entire Iphis story) (translator: Martin 2004)</li>
      <li><strong>(LP)</strong> Translate: Ovid <em>Metamorphoses</em> 9.666-725.
        <ul>
          <li>Targed assignment: 9.675-679, 703-725</li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0029%3Abook%3D9%3Acard%3D666">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1MXgfw7SckV66FwMD1twYDBxF2cRvgpIY/view?usp=sharing">Anderson 1972 text and commentary</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Lisa Franklin (2018), “<a href="https://eidolon.pub/life-as-an-iphis-fbdecf92fbe1">Life as an Iphis: Ancient and Modern Perspectives on Your Hopeless Gay Crush.</a>” <em>Eidolon</em>.</li>
      <li><strong>(LP)</strong> Sasha Barish (2018), “<a href="https://eidolon.pub/iphis-hair-io-s-reflection-and-the-gender-dysphoria-of-the-metamorphoses-4b75c1ba38d7">Iphis’ Hair, Io’s Reflection, and the Gender Dysphoria of the <em>Metamorphoses</em>.</a>” <em>Eidolon</em>.</li>
    </ul>

    <h5 id="11-19-20">Thursday, November 19</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Ovid <em>Metamorphoses</em> 9.726-797.
        <ul>
          <li>Targeted assignment: 9.726-764</li>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0029%3Abook%3D9%3Acard%3D666">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1MXgfw7SckV66FwMD1twYDBxF2cRvgpIY/view?usp=sharing">Anderson 1972 text and commentary</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Kirk Ormand (2005), “<a href="https://drive.google.com/file/d/14dIUFXphtdyQFKZ4gEq5epfJ5aheeRxj/view?usp=sharing">Impossible Lesbians in Ovid’s <em>Metamorphoses</em></a>.” In <em>Gendered Dynamics in Latin Love Poetry</em>, edited by Ronnie Ancona and Ellen Greene, 79-110 (Baltimore).</li>

    </ul>

    <h5>Optional Readings</h5>
    <ul>
      <li>Rebecca Begum-Lees (2020), “<a href="https://drive.google.com/file/d/15n2DiLufT_XNDL3e4Z-031d9n_tVzTwl/view?usp=sharing">Que(e)r(y)ing Iphis’ Transformation in Ovid’s <em>Metamorphoses</em></a>," in <em>Exploring Gender Diversity in the Ancient World</em>, edited by Allison Surtees and Jennifer Dyer, 106-117. Edinburgh.</li>
    </ul>

    <hr>

    <h4 class='text-center'>Thanksgiving Break<br>11/21 - 11/29</h4>

    <hr>

    <h4 id="week-13" class="text-center">Week 13<br>Boudica the Warrior Queen</h4>

    <h5 id="12-01-20">Tuesday, December 1</h5>
    <ul>
      <li>Submit: <a href="#">Tacitus Fact Sheet</a></li>
      <li>Read (in translation): <a href="https://penelope.uchicago.edu/Thayer/E/Roman/Texts/Tacitus/Annals/14B*.html">Tacitus <em>Annals</em> 14.31-37</a>. (no <em>liber</em> entry needed for this assignment)
      <li><strong>(LP)</strong> Translate: Tacitus <em>Annals</em> 14.31
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0077%3Abook%3D14%3Achapter%3D31">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1MYLx6rcRFLBuPZhTZCFrgi0EXnQqZw3Y/view?usp=sharing">Woodcock 1988 text and commentary</a></li>
        </ul>
      </li>
    </ul>

    <h5 id="12-03-20">Thursday, December 3</h5>
    <ul>
      <li><strong>(LP)</strong> Translate: Tacitus <em>Annals</em> 14.35, part of 37 (from <em>et miles ne mulierum quidem neci temperabat</em> to <em>Boudicca vitam veneno finivit</em>)
        <ul>
          <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0077%3Abook%3D14%3Achapter%3D35">Perseus text</a></li>
          <li><a href="https://drive.google.com/file/d/1MYLx6rcRFLBuPZhTZCFrgi0EXnQqZw3Y/view?usp=sharing">Woodcock 1988 text and commentary</a></li>
        </ul>
      </li>
      <li><strong>(LP)</strong> Caitlin Gillespie (2018), <a href="https://drive.google.com/file/d/1MkV3_E61lMpshw9AsxYpLCVbYME5Ab3k/view?usp=sharing">“Dux Femina,”</a> in <em>Boudica: Warrior Woman of Roman Britain</em>, 91-104 (Oxford and New York).</li>
    </ul>

    <hr>

    <h4 id="week-14" class="text-center">Week 14<br>In Conclusion</h4>

    <h5 id="12-08-20">Tuesday, December 8</h5>
    <p>TBD</p>

    <hr>

    <h4 class="text-center">Study Period<br>12/10 - 12/13</h4>

    <hr>

    <h4 class="text-center">Exam Period<br>12/14 - 12/18</h4>

    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}



{% endblock %}