{% extends 'latn213/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#recitation">Recitation</a>
        <a class="nav-link" href="#word-study">Word Study</a>
        <a class="nav-link" href="#reverse-translation">Reverse Translation</a>
        <a class="nav-link" href="#response-composition">Response Composition</a>
        <a class="nav-link" href="#response-translation">Response Translation</a>
        <a class="nav-link" href="#midterm-and-final">Midterm and Final</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creative Project Options
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#recitation">Recitation</a>
            <a class="dropdown-item" href="#word-study">Word Study</a>
            <a class="dropdown-item" href="#reverse-translation">Reverse Translation</a>
            <a class="dropdown-item" href="#response-composition">Response Composition</a>
            <a class="dropdown-item" href="#response-translation">Response Translation</a>
            <a class="dropdown-item" href="#midterm-and-final">Midterm and Final</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>


  <div class="col-8 border-left px-5">
    {% endif %}
    <h3><a href="{% url 'latn213:grading'%}#long-form-assignments">Semester grade weights and other details for these assignments may be found here.</a></h3>

    <hr>

    <h4 id="recitation">Recitation</h4>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/5sCol1QxPbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>This assignment asks you to read (in Latin and out loud!) any of Pliny’s letters in our textbook. You will be evaluated based on your pronunciation and your phrasing, with brownie points for tone and inflection. The letter can be as short or as long as you wish; the only requirement is that it be a full letter, rather than a section of a letter. You do NOT need to memorize; you can have the text in front of you, marked however you’d like to help with your reading. You can either do this live via a one-on-one Zoom meeting or via an audio or video recording. More specific guidelines to come.</p>

    <hr>

    <h4 id="word-study">Word Study</h4>

    <p>You will choose one word and trace it (and any of its declensions or conjugations) throughout Pliny’s letters through methods and tools that I will demonstrate for you. How often does the word appear? When is a noun used as a subject versus a direct object? When is a verb used in the subjunctive versus the indicative?</p>

    <p><a href="https://docs.google.com/document/d/1zN8C4NfwDfilJNCOZz7NIinkF87QxH4XkADO32TBgI0/edit?usp=sharing">You can find specific guidelines for this assignment here.</a></p>

    <p>And here is the video linked in the instructions on using Perseus to help you with this assignment.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/WzM1rqFaSg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr>

    <h4 id="reverse-translation">Reverse Translation</h4>

    <p>I will provide a translation of one of Pliny’s letters and ask you to evaluate it. Is the translator faithful to the actual Latin words and constructions? Does the translator capture Pliny’s tone well? Is the translation still comprehensible to a 21st century audience? If not, can you translate the translation into modern English that we can understand?</p>

    <p><a href="https://docs.google.com/document/d/1ceblUsduAwxBlFD9yGOSoGKlYWpG8oLHSZCVyaeVSWU/edit?usp=sharing">You can find specific guidelines for this assignment here.</a></p>

    <p>And here is the video linked in the suggestions on using the Ugarit Translation Aligner (optionally!) to help you with this assignment.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/lObdv-ZgK2Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <hr>

    <h4 id="response-composition">Response Composition</h4>

    <p>This assignment asks you to compose (in Latin) a response of 6-10 sentences to any of Pliny’s letters.</p>

    <p><a href="https://docs.google.com/document/d/1Y2AzwZ6VDJkiX7h2rmziUE2f8EoNq1SFuc4CeJV8F_A/edit?usp=sharing">Full guidelines may be found here.</a></p>

    <hr>

    <h4 id="response-translation">Response Translation</h4>

    <p>You will be assigned another student’s response composition, and you will be asked to translate it!</p>

    <p><a href="https://docs.google.com/document/d/15pbNxBeVR0gNN6EvoxUwjS4xLjXuW6jRxG7FISuQyNo/edit?usp=sharing">Full guideliens may be found here.</a></p>

    <hr>

    <h4 id="midterm-and-final">Midterm and Final</h4>

    <p>The midterm and final will be open-note, open-book, open-Internet exams that you will complete outside of class. Each will include morphological and grammar questions, translation prompts, and comprehension questions on their respective halves of the course (i.e., the final will not be cumulative). More details to come.</p>


    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}
{% endblock %}