{% extends 'latn213/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#participation-and-check-ins">Participation and Check-Ins</a>
        <a class="nav-link" href="#quizzes">Quizzes</a>
        <a class="nav-link" href="#long-form-assignments">Long-Form Assignments</a>
        <a class="nav-link" href="#midterm-and-final">Midterm and Final</a>
        <a class="nav-link" href="#final-semester-grade">Final Semester Grade</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grading Section
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#participation-and-check-ins">Participation and Check-Ins</a>
            <a class="dropdown-item" href="#quizzes">Quizzes</a>
            <a class="dropdown-item" href="#long-form-assignments">Long-Form Assignments</a>
            <a class="dropdown-item" href="#midterm-and-final">Midterm and Final</a>
            <a class="dropdown-item" href="#final-semester-grade">Final Semester Grade</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>

  <div class="col-8 border-left px-5">
    {% endif %}

    <h4 id="participation-and-check-ins">Participation and Check-Ins (40%)</h4>
    <p><strong>25%</strong> of your participation grade will come from participating in class, which means demonstrating that you’ve read the assignment before the class period in question (including noting vocabulary, syntactic constructions, any questions that you have about the grammar or vocab), engaging with your classmates and me, asking appropriate questions and requesting appropriate clarifications, and paying attention throughout the class period.</p>

    <p><strong>15%</strong> of your participation grade will come from <strong>three (3) one-on-one check-ins (5% each)</strong> with me throughout the semester. You will get each 5% by literally showing up to a one-on-one Zoom session, the date and time of which you will set, and letting me know how things are going! Each check-in can be anything from a quick five-minute meeting to let me know that you’re having no issues at all, to an hour-long session where we go over grammatical concepts that you’re finding difficult or long-form assignments that you want some guidance on. It’s up to you! I just want to encourage you to stay in contact with me to let me know how things are going. If you would like to set up one of these check-ins to take place during my student hours, please email me in advance to let me know that this visit will be one of your check-ins.</p>

    <hr>

    <h4 id="quizzes">Quizzes (15%)</h4>
    <p>There will be <strong>ten (10) quizzes</strong> throughout the semester that will test what we’ve been learning in class. Each quiz will be taken outside of class time, and they will be open-book, open-note, and open-Internet. More details to come.</p>

    <hr>

    <h4 id="long-form-assignments">Long-Form Assignments (25%)</h4>
    <p>There will be <strong>five (5) long-form assignments</strong>, each weighted at <strong>5%</strong> and each designed to have you practice a specific skill relating to Latin. All long-form assignments will be graded on a <strong>specification</strong> basis, meaning that they will earn a grade of either <strong>satisfactory or unsatisfactory</strong>. A grade of satisfactory earns the full 5%. If you get a grade of unsatisfactory on any long-form assignment, I will assign a provisional grade out of 100 points, and you can redo the assignment as many times as it takes to get the satisfactory. If you don’t get the satisfactory by the end of the semester, the provisional grade will stand and I will weight it appropriately into your semester grade.</p>

    <p><a href="{% url 'latn213:assignments' %}">Guidelines for each long-form assignment can be found here.</a></p>

    <hr>

    <h4 id="midterm-and-final">Midterm and Final (20%)</h4>
    <p>There will be two exams in this course, a midterm and a final, each weighted at <strong>10% each</strong>, that will draw on the various skills that you are developing in this course. However, there's a twist: I will write the midterm, but <strong>you</strong> will write the final! More details to come.</p>

    <p><a href="{% url 'latn213:assignments' %}">Guidelines for the midterm and final can be found here.</a></p>

    <hr>

    <h4 id="final-semester-grade">Final Semester Grade</h4>
    <p>The final grade will be calculated as a percentage out of 100; then, it will be converted to a letter grade according to the following scheme:</p>

    <ul class="list-unstyled">
      <li>A = 96-100%; A- = 90-95%</li>
      <li>B+ = 87-89%; B = 84-86%; B- = 80-83%</li>
      <li>C+ = 77-79%; C = 74-76%; C- = 70-73%</li>
      <li>D+ = 67-69%; D = 65-66%</li>
      <li>F = 0-64%</li>
    </ul>

    <p>Grades ending in .45 or greater will be rounded up to the nearest whole number; grades ending in .44 or less will be rounded down to the nearest whole number.</p>


    <hr>
    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}
{% endblock %}