{% extends 'latn213/page.html' %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-4">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#01" role="button" aria-haspopup="true" aria-expanded="false">Shelton 1 (Pliny 1.1)</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#indefinite-head">Indefinite Pronouns/Adjectives</a>
            <a class="dropdown-item" href="#degree-of-difference-head">Ablative of Degree of Difference</a>
            <a class="dropdown-item" href="#noun-clause-of-result-head">Noun Clause of Result</a>
            <a class="dropdown-item" href="#impersonal-verbs-head">Impersonal Verbs and <em>paenitet</em></a>
            <a class="dropdown-item" href="#fio-head"><em>fiō, fierī, factus sum</em></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#02" role="button" aria-haspopup="true" aria-expanded="false">Shelton 2 (Pliny 1.6)</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#separation-head">Ablative of Separation</a>
            <a class="dropdown-item" href="#means-agent-head">Ablative of Means vs. Ablative of Agent</a>
            <a class="dropdown-item" href="#objective-genitive-head">Objective and Subjective Genitive</a>
            <a class="dropdown-item" href="#alt-2nd-head">Alternative 2nd Singular Passive</a>
          </div>
        </li>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <li class="nav-item dropdown">
          <button class="btn nav-link dropdown-toggle btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topics</a>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Shelton 1 (Pliny 1.1)</h6>
              <a class="dropdown-item" href="#indefinite-head">Indefinite Pronouns/Adjectives</a>
              <a class="dropdown-item" href="#degree-of-difference-head">Ablative of Degree of Difference</a>
              <a class="dropdown-item" href="#noun-clause-of-result-head">Noun Clause of Result</a>
              <a class="dropdown-item" href="#impersonal-verbs-head">Impersonal Verbs and <em>paenitet</em></a>
              <a class="dropdown-item" href="#fio-head"><em>fiō, fierī, factus sum</em></a>
              <h6 class="dropdown-header">Shelton 2 (Pliny 1.6)</h6>
              <a class="dropdown-item" href="#separation-head">Ablative of Separation</a>
              <a class="dropdown-item" href="#means-agent-head">Ablative of Means vs. Ablative of Agent</a>
              <a class="dropdown-item" href="#objective-genitive-head">Objective and Subjective Genitive</a>
              <a class="dropdown-item" href="#alt-2nd-head">Alternative 2nd Singular Passive</a>
            </div>
        </li>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if x %}
    <hr>
    {% else %}
  </div>


  <div class="col-8 border-left px-5">
    {% endif %}

    <div id="01">

      <h2 class="text-center text-uppercase">Shelton 1<br>(Pliny 1.1)</h2>

      <div id="shelton-one-accordion">

        <div class="card">

          <div class="card-header" id="indefinite-head">

            <h3 class="mb-0">Indefinite Pronouns/Adjectives</h3>

          </div>

          <div id="indefinite-body">

            <div class="card-body bg-light">

              <p>This letter makes use of a new kind of pronoun/adjective: the <strong>indefinite</strong>. The <strong>indefinite pronoun/adjective</strong> indicates a generalizing sense: "<strong>someone</strong> did this," "<strong>each/every</strong> soldier fought." Specific definitions depend on the specific indefinite pronoun/adjective being used.</p>

              <p>The first indefinite pronoun/adjective in this letter is <strong>aliquis, aliqua, aliquid, "some(one)", "some(thing)", "any(one)", "any(thing)"</strong>. A very important note about this pronoun/adjective: <strong>if it follows the words <u>sī</u>, <u>nisī</u>, <u>num</u>, or <u>nē</u>, the <u>ali-</u> will disappear from the front of the word.</strong> This is why the form that we see in the first sentence of the letter (...ut epistulas, si <strong>quas</strong> paulo curatius scripsissem...) is <strong>quas</strong>, rather than the expected <strong>aliquas</strong>. This can be confusing, especially since the form that's left over looks a lot like the relative pronoun. So, if you see a word that looks like a relative pronoun after <strong>si</strong>, <strong>nisi</strong>, <strong>num</strong>, or <strong>nē</strong>, odds are good that you are actually dealing with the indefinite pronoun/adjective rather than a relative pronoun.</p>

              <p>The best way to remember this is the following rhyme: <strong>After sī, nisī, num, and nē, all the ali-'s fall away.</strong> </p>

              <p>The declension chart is as follows:</p>
              <div class="table-responsive">


                <table class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><strong>Masculine</strong></td>
                      <td><strong>Feminine</strong></td>
                      <td><strong>Neuter</strong></td>
                    </tr>
                  <tbody>
                    <tr>
                      <td rowspan="5"><strong>Sing</strong></td>
                      <td><strong>Nom</strong></td>
                      <td>aliquis (aliquī)</td>
                      <td>aliqua</td>
                      <td>aliquid (aliquod)</td>
                    </tr>
                    <tr>
                      <td><strong>Gen</strong></td>
                      <td>alicuius</td>
                      <td>alicuius</td>
                      <td>alicuius</td>
                    </tr>
                    <tr>
                      <td><strong>Dat</strong></td>
                      <td>alicui</td>
                      <td>alicui</td>
                      <td>alicui</td>
                    </tr>
                    <tr>
                      <td><strong>Acc</strong></td>
                      <td>aliquem</td>
                      <td>aliquam</td>
                      <td>aliquid (aliquod)</td>
                    </tr>
                    <tr>
                      <td><strong>Abl</strong></td>
                      <td>aliquō</td>
                      <td>aliquā</td>
                      <td>aliquō</td>
                    </tr>
                    <tr>
                      <td rowspan="5"><strong>Pl</strong></td>
                      <td><strong>Nom</strong></td>
                      <td>aliquī</td>
                      <td>aliquae</td>
                      <td>aliqua</td>
                    </tr>
                    <tr>
                      <td><strong>Gen</strong></td>
                      <td>aliquōrum</td>
                      <td>aliquārum</td>
                      <td>aliquōrum</td>
                    </tr>
                    <tr>
                      <td><strong>Dat</strong></td>
                      <td>aliquibus</td>
                      <td>aliquibus</td>
                      <td>aliquibus</td>
                    </tr>
                    <tr>
                      <td><strong>Acc</strong></td>
                      <td>aliquōs</td>
                      <td>aliquās</td>
                      <td>aliqua</td>
                    </tr>
                    <tr>
                      <td><strong>Abl</strong></td>
                      <td>aliquibus</td>
                      <td>aliquibus</td>
                      <td>aliquibus</td>
                    </tr>
                  </tbody>
                  </thead>
                </table>
              </div>
              <p>The second indefinite in this letter takes two forms. As a pronoun, it is <strong>quisque, quidque, "each one", "every one"</strong>; as an adjective, it is <strong>quīque, quaeque, quodque, "each", "every"</strong>. Note that the pronoun form is simply the <a href="https://lingualatina.github.io/textbook/reference/pronouns-paradigms/#quis-quid---who-which-what">interrogative pronoun</a> (click for declension chart) with the suffix <strong>-que</strong> added to the end of any of its declined forms. The adjectival form is simply the <a href="https://lingualatina.github.io/textbook/reference/pronouns-paradigms/#relative">relative pronoun</a> (click for declension chart) with the same suffix <strong>-que</strong> added to it.</p>

            </div>

          </div>

        </div>

        <div class="card">

          <div class="card-header" id="degree-of-difference-head">

            <h3 class="mb-0">
              Ablative of Degree of Difference
            </h3>

          </div>

          <div id="degree-of-difference-body">

            <div class="card-body bg-light">

              <p>With a comparative adjective or adverb, you can use an <strong>ablative adjective or noun in the neuter singular</strong> to indicate how much the degree differs between the two items being compared. Take a look at the following examples:</p>
              <ul>
                <li><em>hic mīles <strong>paulō</strong> fortior illō erat.</em>This soldier was <strong>a little</strong> stronger than that (soldier). (<em>paulus, -a, -um</em>, "little", "small")</li>
                <li><em>illae feminae <strong>multō</strong> laetiorēs hīs sunt</em>. Those women are <strong>much</strong> happier than these (women). (<em>multus, -a, -um</em>, "much", "many")</li>
              </ul>

            </div>

          </div>

        </div> <!-- card 2 -->

        <div class="card">

          <div class="card-header" id="noun-clause-of-result-head">

            <h3 class="mb-0">
              Substantive Clauses:<br>Noun Clause of Result
            </h3>

          </div>

          <div id="noun-clause-of-result-body">

            <div class="card-body bg-light">

              <p>A <strong>substantive clause</strong> or <strong>noun clause</strong> is a dependent clause, often introduced by <strong>ut</strong>, <strong>ut nōn</strong>, or <strong>nē</strong> that essentially functions like the subject or the object of a verb. We saw specific examples of this last year when we talked about certain dependent clauses. Think, for example, about <strong>indirect commands</strong>, like the following from this letter:</p>

              <ul>
                <li><em>Frequenter hortatus es, <strong>ut epistulas, si quas paulo curatius scripsissem, colligerem publicaremque</strong>.</em> You have constantly encouraged <strong>me to (literally, "that I") collect and publish my letters, if I had written any (letters) a little more carefully.</strong>.</li>
              </ul>

              <p>In the preceding sentence, the indirect command <strong>ut ... colligerem publicaremque</strong> essentially functions as the object of the verb <strong>hortatus es</strong>. What did you encourage? <em>That I collect and publish my letters</em>. So, some of the dependent clauses that we learned about last year fall under this larger umbrella of <strong>substantive clauses</strong>.</p>

              A new kind of substantive clause that also appears in this letter is called a <strong>noun clause of result</strong>. This dependent clause, often (but not always) introduced by <strong>ut</strong> (or <strong>ut nōn</strong> for a negative clause), uses a subjunctive verb and indicates what happens as <em>the accomplishment of an effort.</em> For example:

              <ul>
                <li><em>efficiam <strong>ut intellegās</strong>.</em> I will make you understand. (literally, "I will bring about <strong>that you understand</strong>").</li>
              </ul>

              <p>Noun clauses of result show up often with the verb <em>facere</em> or its compounds, like <em>efficere</em> ("to bring about, effect").</p>

              <p>They can also function as the subject of such verbs in the passive voice (like forms of <em>fiō</em>, on which see below) or impersonal verbs (on which see below) like <em>superest</em>, "it remains", as we see in section 2 of this letter. For example:</p>

              <p>For more information, check out Dickinson College Commentaries' online version of <a href="http://dcc.dickinson.edu/grammar/latin/substantive-clauses-result">Allen and Greenough's grammar</a> on this topic.</p>

            </div>

          </div>

        </div> <!-- card 3 -->

        <div class="card">

          <div class="card-header" id="impersonal-verbs-head">

            <h3 class="mb-0">
              Impersonal Verbs and <em>paenitet</em>
            </h3>

          </div>

          <div id="impersonal-verbs-body">

            <div class="card-body bg-light">

              <p><strong>Impersonal verbs</strong> are 3rd person singular verbs that seem to take "it" as a subject: for example, "it remains (that) ..." (<em>superest</em>, as in section 2 of this letter) or "it is allowed (that) ..." (<em>licet</em>, as in Shelton 2.1). Passive forms of verbs like <em>faciō</em> or its compounds can also function impersonally: for example, "it was accomplished (that) ..." (<em>effectum est</em>). Such verbs often introduce a noun clause of result that begins with <strong>ut</strong>.</p>

              <p>In such sentences, however, "it" is usually a placeholder for a construction like a noun clause of result that functions as the "true" subject of the sentence. Take, for example, this sentence from section 2 of this letter:</p>

              <ul>
                <li><em>ita enim fiet, <strong>ut eas ... requiram et ... non supprimam</strong></em>. For thus it will happen, <strong>that I will look for them and not suppress them</strong>.</li>
              </ul>

              <p>In the preceding sentence, the <strong>ut</strong> begins a noun clause of result that actually functionally serves as the subject of the sentence. While we can translate it as "it will happen <strong>that...</strong>", a more literal translation might be something like "[the fact] that I will look for them and not surpress them will happen." In these cases, the noun clause of result functions subjectivally and explains what is allowed, happening, remaining, etc.</p>

              <p>One special impersonal verb is <em>paenitet</em>, "it grieves, makes sorry, causes regret", special because of its unusual construction. It takes as objects an <strong>accusative</strong> of the person who regrets or is made sorry and a <strong>genitive</strong> of what they regret or are sorry for. A template for translating this verb, then, would be something like "[accusative] regrets/is sorry for [genitive]." (The literal translation would be something like "it grieves [accusative] of [genitive]", which is much more difficult to conceptualize.)</p>

              <p>Take a look at the use of this verb in section 2 of this letter:</p>

              <ul>
                <li><em>superest ut nec te consilii nec me paeniteat obsequii.</em></li>
              </ul>

              <p><em>paeniteat</em> is in the subjunctive here because it follows <em>ut</em> in a noun clause of result. Note that <em>paeniteat</em> here has two accusatives (<strong>te</strong> and <strong>me</strong>) that pair respectively with two genitives (<strong>consilii</strong> and <strong>obsequii</strong>): <strong>"It remains that you neither regret your advice nor I regret following it."</strong> (literally, "it remains that it neither grieves you of advice nor me of compliance.")</p>

            </div>

          </div>

        </div> <!-- card 4 -->

        <div class="card">

          <div class="card-header" id="fio-head">

            <h3 class="mb-0">
              <em>fiō, fierī, factus sum</em>
            </h3>

          </div>

          <div id="fio-body">
            <div class="card-body bg-light">

              <p>There is an important irregular verb that you should become familiar with: <strong>fiō, fierī, factus sum</strong>, "to happen", "to come to pass", "to become". The third principal part may look familiar as the perfect passive of <em>faciō</em> -- that is because this irregular verb does often function as the passive voice of that verb, in the sense of "to be made" or "to be done".</p>

              <p>This verb defies easy categorizations into "passive" or "active", and while its present system forms are irregular, its perfect system forms are completely regular. In the present system, <strong>fiō</strong> largely follows the patterns of 4th conjugation verbs, except in the infinitive (<strong>fierī</strong>) and the imperfect subjunctive (<strong>fierem, fierēs, fieret...</strong>).</p>

              <p>Even so, the parsing of some forms can be adduced through logic. For example, the form <strong>fiet</strong> appears in section 2 of this letter. What verb tense in the 4th conjugation verb has that combination of <strong>-i-</strong> and the personal ending <strong>-et</strong>?</p>

              <p>All paradigms for this verb can be found in the charts at Dickinson College Commentaries' <a href="http://dcc.dickinson.edu/grammar/latin/irregular-verbs-f%C4%AB%C5%8D" target="_blank"><strong>Allen and Greenough page on this verb</strong></a>.</p>
            </div>
          </div>
        </div> <!-- card 5 -->

      </div> <!-- shelton 1 accordion -->

    </div>

    <hr>

    <div id="02">

      <h2 class="text-center text-uppercase">Shelton 2<br>(Pliny 1.6)</h2>

      <div id="shelton-two-accordion">

        <div class="card">

          <div class="card-header" id="separation-head">

            <h3 class="mb-0">
              Ablative of Separation
            </h3>

          </div>

          <div id="separation-body">

            <div class="card-body bg-light">

              <p>An <strong>ablative of separation</strong> indicates, quite literally, a separation between two things. This use of the ablative differs from the <strong>ablative of motion from</strong> in that the latter usually involves a physical place that there is movement away from. The ablative of separation can indicate a rift or separation from an abstract notion. Take, for example, this sentence in section 1 of this letter:</p>

              <ul>
                <li><strong>non tamen ut omnino <em>ab inertia mea et quiete</em> discederem.</strong> "Not, however, so that I would depart <em>from my idleness and rest</em>."</li>
              </ul>

              <p><em>inertia</em> and <em>quiete</em> are abstract concepts from which Pliny would be separated by the act of going away. The ablative of separation can use a preposition like <strong>a/ab</strong> or <strong>e/ex</strong>, but in some instances, the definition of the verb is enough to necessitate an ablative of separation without the use of a preposition.</p>

            </div>
          </div>
        </div>

        <div class="card">

          <div class="card-header" id="means-agent-head">

            <h3 class="mb-0">
              Ablative of Means<br>vs. Ablative of Agent
            </h3>

          </div>

          <div id="means-agent-body">

            <div class="card-body bg-light">

              <p>We know two uses of the ablative that we can translate with the preposition "by": the <strong>ablative of means</strong> to indicate the means or instrument by which someone performs the verb's action (<em>nautae <strong>ventīs</strong> navigāvērunt</em>, "the sailors sailed <strong>by (means of) the winds</strong>"); and the <strong>ablative of agent</strong> with <strong>ā/ab</strong> to indicate who performed the action of a passive verb (<em>hostēs <strong>ā mīlitibus</strong> interfectī sunt</em>, "the enemies were killed <strong>by the soldiers</strong>.")</p>

              <p>You can also use an ablative of means with a passive verb to indicate agency if that agent is an <strong>inanimate object or concept</strong> rather than an actual person. Note that this means that such an ablative will <em>not</em> use the preposition <strong>ā/ab</strong>, which is reserved for the ablative of agent. Take a look at this example from section 2 of this letter:</p>

              <ul>
                <li><em>mirum est, ut animus <strong>agitatione motuque</strong> corporis excitetur</em>. It is remarkable how the soul is stimulated <strong>by action and motion</strong>.</li>
              </ul>

            </div>
          </div>
        </div>

        <div class="card">

          <div class="card-header" id="objective-genitive-head">

            <h3 class="mb-0">
              Objective and Subjective Genitive
            </h3>

          </div>

          <div id="objective-genitive-body">

            <div class="card-body bg-light">

              <p>The uses of the genitive case that we've seen so far (possession, description) attach a genitive often to another noun to indicate who possesses that noun or what that noun consists of, respectively. In both cases, we can translate the genitive with "of".</p>

              <p>When the genitive is attached to a noun that indicates some kind of verbal action (e.g., "love", "care", "incitement"), the genitive might be either a <strong>subjective</strong> or <strong>objective</strong> genitive. The former indicates that the genitive would be <em>performing</em> that verbal action (hence, "<strong>subject</strong>ive") and can be translated with "of" or like a possessive genitive, while the latter indicates that the genitive would be <em>receiving</em> that verbal action (hence, "<strong>object</strong>ive") and can be translated with "for" or "of". Take a look at the following example:</p>

              <ul>
                <li><strong>amor liberorum meorum</strong>
                  <ul>
                    <li><em>subjective genitive</em>: "love <strong>of</strong> my children" or "my children's love" (the children are the ones performing the love)</li>
                    <li><em>objective genitive</em>: "love <strong>for</strong> my children" (the children are the ones receiving the love)</li>
                  </ul>
                </li>
              </ul>

              <p>An <strong>objective genitive</strong> occurs in section 2 of this letter:</p>

              <ul>
                <li><strong>silvae et solitudo ipsumque illud silentium ... magna <em>cogitationis</em> incitamenta sunt.</strong> "The woods and emptiness and that very silence ... are great inducements <strong>for thought</strong>."</li>
              </ul>

              <p><strong>cogitationis</strong>, "thought", receives the action of encouraging or goading in <strong>incitamenta</strong>, so that would be an <strong>objective genitive</strong>. Note how it can't work as a subjective genitive -- "thought" cannot perform the action of "inciting" or "goading."</p>

            </div>
          </div>
        </div>

        <div class="card">

          <div class="card-header" id="alt-2nd-head">

            <h3 class="mb-0">
              Alternative 2nd Singular Passive
            </h3>

          </div>

          <div id="alt-2nd-body">

            <div class="card-body bg-light">

              <p>When we learned about the passive voice in the present system last year, we learned that the 2nd person singular personal ending is <strong>-ris</strong>. For example, <strong>amāris</strong>, "You are loved", or <strong>amābēris</strong>, "You will be loved." (Recall that the passive personal endings are <strong>-r, -ris, -tur, -mur, -mini, -ntur</strong>)</p>

              <p>The 2nd person passive has an alternative ending: <strong>-re</strong>. Take a look at how it is used in section 3 of this letter:</p>

              <ul>
                <li><em>proinde, cum <strong>venabere</strong></em>..., Therefore, when <strong>you (will) hunt</strong>...</li>
              </ul>

              <p><strong>venābēre</strong> comes from the deponent 1st conjugation verb <strong>venor, venārī, venātus sum, "to hunt"</strong>. Thus, it is passive in form but active in meaning, and since it's a 1st conjugation verb, we might expect an ending like <strong>-bēris</strong>.</p>

              <p>The <strong>-re</strong> and <strong>-ris</strong> endings for the 2nd singular passive can be used interchangeably, and indeed, later in that same section, Pliny uses the form <strong>experi<u>ēris</u></strong>.</p>

              <p>Be careful when you see an <strong>-re</strong> ending! The only thing that distinguishes, for example, <strong>amāre</strong> as an infinitive ('to love') and <strong>amāre</strong> as 2nd singular present passive indicative ('you are loved') is context.</p>

            </div>
          </div>
        </div>

      </div> <!-- shelton 2 accordion -->


    </div>

    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->

{% endif %}
{% endblock %}