{% extends 'latn213/page.html' %}
{% load static %}
{% block content %}

{% if not x %}
<div class="row">

  <div class="col-3">
    {% endif %}
    <div class="sticky-top" style="top:65px;">
      {% if not x %}
      <nav id="navbar-example3" class="nav nav-pills flex-column text-right">
        <a class="nav-link" href="#week-01">Week 1 (9/2, 9/4)</a>
        <a class="nav-link" href="#week-02">Week 2 (9/7, 9/9, 9/11)</a>
        <a class="nav-link" href="#week-03">Week 3 (9/14, 9/16, 9/18)</a>
        <a class="nav-link" href="#week-04">Week 4 (9/21, 9/23, 9/25)</a>
        <a class="nav-link" href="#week-05">Week 5 (9/28, 10/2)</a>
        <a class="nav-link" href="#week-06">Week 6 (10/5, 10/7, 10/9)</a>
        <a class="nav-link" href="#week-07">Week 7 (10/12, 10/14, 10/16)</a>
        <a class="nav-link" href="#week-08">Week 8 (10/19, 10/21, 10/23)</a>
        <a class="nav-link" href="#week-09">Week 9 (10/26, 10/28, 10/30)</a>
        <a class="nav-link" href="#week-10">Week 10 (11/2, 11/4, 11/6)</a>
        <a class="nav-link" href="#week-11">Week 11 (11/9, 11/11, 11/13)</a>
        <a class="nav-link" href="#week-12">Week 12 (11/16, 11/18, 11/20)</a>
        <a class="nav-link" href="#week-13">Week 13 (11/30, 12/2, 12/4)</a>
        <a class="nav-link" href="#week-14">Week 14 (12/7, 12/9)</a>
      </nav>
      {% else %}
      <!-- mobile -->
      <nav class="nav">
        <div class="dropdown">

          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Week Selection
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="#week-01">Week 1 (9/2, 9/4)</a>
            <a class="dropdown-item" href="#week-02">Week 2 (9/7, 9/9, 9/11)</a>
            <a class="dropdown-item" href="#week-03">Week 3 (9/14, 9/16, 9/18)</a>
            <a class="dropdown-item" href="#week-04">Week 4 (9/21, 9/23, 9/25)</a>
            <a class="dropdown-item" href="#week-05">Week 5 (9/28, 10/2)</a>
            <a class="dropdown-item" href="#week-06">Week 6 (10/5, 10/7, 10/9)</a>
            <a class="dropdown-item" href="#week-07">Week 7 (10/12, 10/14, 10/16)</a>
            <a class="dropdown-item" href="#week-08">Week 8 (10/19, 10/21, 10/23)</a>
            <a class="dropdown-item" href="#week-09">Week 9 (10/26, 10/28, 10/30)</a>
            <a class="dropdown-item" href="#week-10">Week 10 (11/2, 11/4, 11/6)</a>
            <a class="dropdown-item" href="#week-11">Week 11 (11/9, 11/11, 11/13)</a>
            <a class="dropdown-item" href="#week-12">Week 12 (11/16, 11/18, 11/20)</a>
            <a class="dropdown-item" href="#week-13">Week 13 (11/30, 12/2, 12/4)</a>
            <a class="dropdown-item" href="#week-14">Week 14 (12/7, 12/9)</a>
          </div>
        </div>
      </nav>
      {% endif %}
    </div> <!-- nav wrapper -->
    {% if not x %}
  </div> <!-- row col nav end for not-mobile -->
  {% else %}
  <hr>
  {% endif %}

  {% if not x %}
  <div class="col-9 border-left px-5">
    {% endif %}

    <h4 class="text-center">General Note</h4>

    <p>For any given class period, you will be expected to prepare a Latin text that will be assigned on a rolling basis, depending on how we’re doing progress-wise in class. Please note that “prepare” does NOT mean “write out a translation” -- in fact, you are expressly forbidden from writing out a translation to bring to class. “Prepare” means to make grammatical notes (identify person, number, tense, voice, and mood of verbs; gender, case, and number of nouns, adjectives, and participles; etc.), mark your Latin text with syntactic and structural aides (parentheses to sequester clauses or phrases, arrows to indicate possession or modification, underlines, circles, etc.), and note down unfamiliar vocab or conjugations or declensions. Writing out a translation means that you’re not actually doing the work of understanding how the Latin works, which is infinitely more important than coming up with a “perfect” translation.</p>

    <hr>

    <h4 id="week-01" class="text-center">Week 1</h4>

    <h5>Wednesday, September 2</h5>
    <p>Introduction: Syllabus, Course Website, Class Format</p>

    <h5>Friday, September 4</h5>
    <ul>
      <li>Read the <a href="{% url 'latn213:policies' %}">course policies</a>, <a href="{% url 'latn213:grading' %}">grading scheme</a>, and <a href="{% url 'latn213:assignments' %}">assignment descriptions</a></li>
      <li>Bring at least one question about the policies, grading scheme, or assignment descriptions to class</li>
      <li>Review this <a href="https://docs.google.com/document/d/1aOFqZwcjbgDvnojqXlkP8OuCCC-SVY8rkDiTbbBD84I/edit?usp=sharing">list of topics from LATN 101 and 102</a></li>
      <li>Choose at least one topic from the list that you'd like to review or reinforce</li>
      <li>Fill out this <a href="https://forms.gle/Ax2ZqAtcxDyucdJh7">student information form</a></li>
      <li>Complete this (ungraded) <a href="https://forms.gle/QKqxyEtS4AZTUpy99">spot check</a> without consulting any outside sources!</li>
    </ul>

    <hr>

    <h4 id="week-02" class="text-center">Week 2</h4>

    <h5 id="monday-september-7">Monday, September 7</h5>
    <p class="mb-0"><strong>Shelton 1</strong></p>
    <ul>
      <li><a href="https://lingualatina.github.io/texts/browsable/pliny/1.1/">plain text</a></li>
      <li><a href="{% url 'latn213:grammar' %}#01">supplemental grammar</a></li>
      <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.02.0139">Perseus text</a></li>
      <li><strong>(last updated W 9/9)</strong> <a href="https://drive.google.com/file/d/1GuhSDwIR1_VL749weW1zYjNS5rgqYLEQ/view?usp=sharing">Class Notes</a> (including pronunciation and Law of the Penultimate)</li>
    </ul>

    <h5>Wednesday, September 9</h5>
    <p>Continue Shelton 1</p>

    <h5 id="friday-september-11">Friday, September 11</h5>
    <p class="mb-0"><strong>Prepare Shelton 2.1 (p. 6)</strong></p>
    <ul>
      <li><a href="https://lingualatina.github.io/texts/browsable/pliny/1.6/">plain text</a></li>
      <li><a href="{% url 'latn213:grammar' %}#02">supplemental grammar</a></li>
      <li><a href="http://www.perseus.tufts.edu/hopper/text?doc=Plin.+Ep.+1.6&fromdoc=Perseus%3Atext%3A1999.02.0139">Perseus text</a></li>
      <li><strong>(last updated M 9/14)</strong> <a href="https://drive.google.com/file/d/1n6lGeZGUAz_DQVyqJycqlXThZBtHeSx8/view?usp=sharing">Class Notes</a></li>
    </ul>

    <hr>

    <h4 id="week-03" class="text-center">Week 3</h4>

    <h5 id="09-14-20">Monday, September 14</h5>
    <ul>
      <li>Complete <a href="https://docs.google.com/document/d/1upKjpST3L1WmSfksF9AYskGzEppP_n77ZQog5dWINKQ/edit?usp=sharing">Quiz #0 (Shelton 1)</a></li>
      <li>Prepare Shelton 2.2-3 (see <a href="#friday-september-11">entry for 9/11</a> for resources)</li>
    </ul>

    <h5>Wednesday, September 16</h5>
    <p>Continue Shelton 2 (see <a href="#friday-september-11">entry for 9/11</a> for resources)</p>

    <h5>Friday, September 18</h5>
    <p>Breakout Room work!</p>

    <hr>

    <h4 id="week-04" class="text-center">Week 4</h4>

    <h5>Monday, September 21</h5>
    <ul>
      <li>Continue and finish <a href="https://docs.google.com/document/d/1qvzJA0fQPMBxf23T25O1UkC34twn3ASbJS9j7HynoYY/edit?usp=sharing">Breakout Room work on Shelton 14</a> (see doc and email for details)</li>
      <li>Complete <a href="https://docs.google.com/document/d/1fVFRCim2wj0aq57yrlVCdGnmfBxCCdq-3QzRTpETJIo/edit?usp=sharing">Quiz #1 (on Shelton 2)</a></li>
    </ul>
    <h5>Wednesday, September 23</h5>
    <ul>
      <li>Review <a href="https://docs.google.com/document/d/1qvzJA0fQPMBxf23T25O1UkC34twn3ASbJS9j7HynoYY/edit?usp=sharing">Breakout Room work on Shelton 14.1-3</a></li>
      <li>Prepare the rest of Shelton 14 (sections 4 and 5)</a></li>
    </ul>

    <h5>Friday, September 25</h5>

    <hr>

    <h4 id="week-05" class="text-center">Week 5</h4>

    <h5>Monday, September 28</h5>
    <h5>Wednesday, September 16</h5>
    <p>No class!</p>

    <h5>Friday, October 2</h5>

    <hr>

    <h4 id="week-06" class="text-center">Week 6</h4>

    <h5>Monday, October 5</h5>
    <h5>Wednesday, October 7</h5>
    <h5>Friday, October 9</h5>

    <hr>

    <h4 id="week-07" class="text-center">Week 7</h4>

    <h5>Monday, October 12</h5>
    <h5>Wednesday, October 14</h5>
    <h5>Friday, October 16</h5>

    <hr>

    <h4 id="week-08" class="text-center">Week 8</h4>

    <h5>Monday, October 19</h5>
    <h5>Wednesday, October 21</h5>
    <h5>Friday, October 23</h5>

    <hr>

    <h4 id="week-09" class="text-center">Week 9</h4>

    <h5>Monday, October 26</h5>
    <h5>Wednesday, October 28</h5>
    <h5>Friday, October 30</h5>

    <hr>

    <h4 id="week-10" class="text-center">Week 10</h4>

    <h5>Monday, November 2</h5>
    <h5>Wednesday, November 4</h5>
    <h5>Friday, November 6</h5>

    <hr>

    <h4 id="week-11" class="text-center">Week 11</h4>

    <h5>Monday, November 9</h5>
    <h5>Wednesday, November 11</h5>
    <h5>Friday, November 13</h5>

    <hr>

    <h4 id="week-12" class="text-center">Week 12</h4>

    <h5>Monday, November 16</h5>
    <h5>Wednesday, November 18</h5>
    <h5>Friday, November 20</h5>

    <hr>

    <h4 class='text-center'>Thanksgiving Break<br>11/21 - 11/29</h4>

    <hr>

    <h4 id="week-13" class="text-center">Week 13</h4>

    <h5>Monday, November 30</h5>
    <h5>Wednesday, December 2</h5>
    <h5>Friday, December 4</h5>

    <hr>

    <h4 id="week-14" class="text-center">Week 14</h4>

    <h5>Monday, December 7</h5>
    <h5>Wednesday, December 9</h5>

    <hr>

    <h4 class="text-center">Study Period<br>12/10 - 12/13</h4>

    <hr>

    <h4 class="text-center">Exam Period<br>12/14 - 12/18</h4>

    {% if not x %}
  </div> <!-- content div -->

</div> <!-- row div for grid -->
{% endif %}



{% endblock %}